
<div class="p-grid">

  <div class="p-col">
    <p-table [value]="linha">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 100%">Valores das variáveis</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-linha>
        <tr>
          <td>

            <p-table [value]="linha.ordered_globals">
              <ng-template pTemplate="header">
                <tr>
                  <th >Variável</th>
                  <th >Valor</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-variavel>
                <tr>
                  <td>
                   {{variavel}}
                  </td>
                  <td><span *ngIf="isArray(linha.globals[variavel]); else variavelPrimitiva ">
                    {{getValorArray(linha.globals[variavel][1])}}
                  </span>
                  <ng-template #variavelPrimitiva>
                      {{linha.globals[variavel]}}
                    </ng-template></td>
                </tr>
              </ng-template>
            </p-table>

            
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="p-grid">
  <div class="p-col">
    <button pButton type="button" label="Voltar" (click)="visualizar('--')" [disabled]="sequenciaExecucao==0"></button>
    <button pButton type="button" label="Avançar" (click)="visualizar('++')"
      [disabled]="sequenciaExecucao==traceExecucao.trace.length-1"></button>
  </div>
</div>