<p-toast></p-toast>
<h1 class="first">Teste Case</h1>
<br />
<br />

<h3 class="first">Entrada</h3>
<input id="Entrada" type="text" [(ngModel)]="entrada" /> <br />
<button pButton type="button" label="Adicionar" (click)="adicionarEntradaSaida('entrada')"></button>
<br /><br />

<p-table [value]="testeCase.entradas" [(contextMenuSelection)]="selectedEntrada" [contextMenu]="cm">
  <ng-template pTemplate="header">
    <tr>
      <th>Entradas do TestCase</th>
      <th>Ação</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-entrada>
    <tr [pContextMenuRow]="rowData">
      <td>{{ entrada }}</td>
      <td>
        <button label="Remover" (click)="retirarEntradaSaida(entrada, 'entrada')" pButton></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-contextMenu #cm [model]="items"></p-contextMenu>

<h3 class="first">Saída</h3>

<input id="saída" type="text" [(ngModel)]="saida" /> <br />
<button pButton type="button" label="Adicionar" (click)="adicionarEntradaSaida('saida')"></button>
<br /><br />

<p-table [value]="testeCase.saida" *ngIf="isArray(testeCase.saida); else testCaseNaoArray">
  <ng-template pTemplate="header">
    <tr>
      <th>Saídas</th>
      <th>Ação</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-saida>
    <tr [pContextMenuRow]="rowData">
      <td>{{ saida }}</td>
      <td>
        <button label="Remover" (click)="retirarEntradaSaida(saida, 'saida')" pButton></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<ng-template #testCaseNaoArray >
  <div class="p-grid" *ngIf="testeCase.saida != null" >
    <div class="p-col-3">{{testeCase.saida}}</div>
    <div class="p-col-4"><button label="Remover" (click)="retirarEntradaSaida(saida, 'saida')" pButton></button></div>
  </div>
</ng-template>
<br />
<br />
<br />
