<div *ngIf="turma$ | async as turma" style="margin-top:10px;">


    <h1>{{turma.nome}} </h1>
    <div style="display: flex;">
        <div *ngIf="this.usuario.perfil == 2">
            <button pButton type="button" (click)="adicionarMaterial(turma)" class="ui-button-info"
                label="Adicionar material"></button>
        </div>
        <div>
            <button pButton type="button" (click)="listarMateriais(turma)" class="ui-button-info"
                label="Listar materiais"></button>
            <button pButton type="button" (click)="visualizarEstudantes(turma)" class="ui-button-info"
                label="Estudantes"></button>
        </div>
    </div>

