<div *ngIf="turma$ | async as turma" style="margin-top:10px;">
    <div class="ui-g">
        <div class="ui-g-8"><span class="cabecalho">{{turma.nome}} - {{turma.codigo}}</span></div>
        <div class="ui-g-4">
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-4"><button pButton type="button" (click)="visualizarEstudantes(turma)" class="ui-button-info"
            label="Estudantes"></button></div>
        <div class="ui-g-8">
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12">
            <app-listar-postagens [turma]="turma"></app-listar-postagens>
        </div>

    </div>
</div>