<p-toast></p-toast>
<h2>Assuntos</h2>

<div *ngIf="login.getUsuarioLogado().perfil == 3">
    <p-button label="Cadastrar" (click)="cadastrar()" ></p-button>
    <p>Clique com o botão direito para ver as opções</p>
    <p-contextMenu #cm [model]="items"></p-contextMenu>
</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-table [value]="assuntos" [(contextMenuSelection)]="selectedAssunto" [contextMenu]="cm">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-assunto>
        <tr [pContextMenuRow]="rowData">
            <td (click)="abrirAssunto(assunto)">{{assunto.nome}}</td>
        </tr>
    </ng-template>
</p-table>
