<p-toast></p-toast>
<h1>Assuntos</h1>

<div class="ui-g">
        <div class="ui-g-4"></div>
        <div class="ui-g-2"></div>
        <div class="ui-g-2"></div>
        <div class="ui-g-3">
            <p-button label="Registar exemplo de questão" (click)="registrar()"></p-button>
        </div>
        <div class="ui-g-1"></div>
    </div>

<div *ngIf="login.getUsuarioLogado().perfil == 3">
    <button pButton type="button" (click)="cadastrar()" class="ui-button-success" label="Cadastrar"></button>
    <p-contextMenu #cm [model]="items"></p-contextMenu>
</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-table [value]="assuntos" [(contextMenuSelection)]="selectedAssunto" [contextMenu]="cm">
    <ng-template pTemplate="header">
       
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-assunto>
        <tr [pContextMenuRow]="rowData">
            <td (click)="abrirAssunto(assunto)">{{assunto.nome}}</td>
        </tr>
    </ng-template>
</p-table>

<p-contextMenu #cm [model]="items"></p-contextMenu>   
