<p-toast></p-toast>
<h1 class="first">Teste Cases</h1>

<p-table [value]="testsCases" [(contextMenuSelection)]="selectedEntrada" [contextMenu]="cm">
  <ng-template pTemplate="header">
    <tr>
      <th>Entradas</th>
      <th>Saídas esperadas</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-i="rowIndex">
    <tr [pContextMenuRow]="rowData">
      <td>
        <input id="Entrada" type="text" #campoEntrada/>
        <button pButton type="button" label="Adicionar" (click)="adicionarEntradaSaida(campoEntrada.value, i, 'entrada')"></button>
        <p  *ngFor="let entrada of testsCases[i].entradas">
          {{ entrada }} <button label="Remover" (click)="retirarEntradaSaida(entrada, i, 'entrada')" pButton></button> <button label="cp" (click)="copiarEntradaSaida(entrada, i)" pButton></button>
        </p>
      </td>
      <td>
        <input id="saída" type="text" #campoSaida /> <br />
        <button pButton type="button" label="Adicionar" (click)="adicionarEntradaSaida(campoSaida.value, i, 'saida')"></button>
        <ng-container *ngIf="isArray(testsCases[i].saida); else testCaseNaoArray">
          <p  *ngFor="let saida of testsCases[i].saida">
            {{ saida }} <button label="Remover" (click)="retirarEntradaSaida(testsCases[i].saida, i, 'saida')" pButton></button>
          </p>
        </ng-container>
        <ng-template #testCaseNaoArray >
          <div class="p-grid" *ngIf="testsCases[i].saida != null" >
            <div class="p-col-3">{{testsCases[i].saida}}</div>
            <div class="p-col-4"><button label="Remover" (click)="retirarEntradaSaida(testsCases[i].saida, i, 'saida')" pButton></button></div>
          </div>
        </ng-template>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-contextMenu #cm [model]="items"></p-contextMenu>
