<p-toast></p-toast>
<div class="p-grid" *ngIf="turma != null">

  <div class="p-col-2"></div>
  <div class="p-col-1">

    <h3 class="first">Título</h3>
  </div>
  <div class="p-col-9">
    <input id="nomeCurto" type="text" [(ngModel)]="postagem.titulo" pInputText style="width:500px;" />
  </div>
  <div class="p-col-2"></div>
  <div class="p-col-1">
    <h3 class="first">Texto</h3>
  </div>
  <div class="p-col-9"><textarea [rows]="6" [cols]="60" pInputTextarea [(ngModel)]="postagem.texto"></textarea></div>

  <div class="p-col-2"></div>
  <div class="p-col-1">

    <button pButton type="button" label="Postar" (click)="cadastrar()"></button>
  </div>
</div>