
<p-timeline [value]="events | async" align="alternate">
    <ng-template pTemplate="marker" let-material>
      <ng-container *ngIf="getMaterial(material) == 'questoes'; else outros">
       <p-knob *ngIf="material.percentualResposta != null" [(ngModel)]="material.percentualResposta" [size]="25" [readonly]="true"></p-knob>
      </ng-container>
      <ng-template #outros>
        <ng-container *ngIf="getMaterial(material) == 'video'; else texto">
          <span class="pi pi-video" ></span>
        </ng-container>
        <ng-template #texto>
          <span class="pi pi-file" ></span>
        </ng-template>
      </ng-template>
    </ng-template>
    <ng-template pTemplate="content" let-material>
     <span (click)="abrirMaterial(material)" [style]="getCorMaterial(material)">{{material.ordem}}. {{material.nomeCurto}}</span>
    </ng-template>
  </p-timeline>
