<div class="p-grid">
  <div class="p-col-12">

    

    <app-editor-programacao style="margin-left:10px" *ngIf="this.questao != undefined" id="editorProgramacao"
      [modoVisualizacao]="modoVisualizacao" [submissao]="submissao" [questao]="questao" [assunto]="assunto"
      [atividadeGrupo]="atividadeGrupo" [modoExecucao]="modoExecucao" [questaoCorrecao]="questaoCorrecao"
      [grupo]="grupo" (onError)="erroEditor($event)" (onVisualization)="onVisualization($event)"
      (onServidorError)="onServidorError($event)" (onSubmit)="onEditorSubmit($event)"
      (onEditorReady)="onEditorReady($event)"
      (onEditorMudancaExecucao)="onEditorMudancaExecucacao($event)">
    </app-editor-programacao>

  </div>
  <div class="p-col-12">
    <div *ngIf="modoVisualizacao == false; else visualizacao" style="margin-top: 10px">
      <app-console [submissao]="submissao" [consoleEditor]="consoleEditor" *ngIf="modoExecucao == 1;else consolePadrao">
      </app-console>
      <ng-template #consolePadrao>
        <app-console-padrao [submissao]="submissao"></app-console-padrao>
      </ng-template>
    </div>
    <ng-template #visualizacao>
      <visualizar-execucao [traceExecucao]="traceExecucao" [editor]="editorCodigo" *ngIf="traceExecucao != null">
      </visualizar-execucao>
    </ng-template>
  </div>
</div>