
<h3>Questão 01</h3>
<textarea [rows]="5" [cols]="150" pInputTextarea autoResize="autoResize"></textarea>

<p-accordion>
    <p-accordionTab header="Qual problema você espera resolver com esse algoritmo?" [selected]="true">
      <textarea [rows]="5" [cols]="150" pInputTextarea autoResize="autoResize"></textarea>
    </p-accordionTab>

    <p-accordionTab header="Quais as condições que são necessárias para resolver esse problema?">
      <textarea [rows]="5" [cols]="150" pInputTextarea autoResize="autoResize"></textarea>
    </p-accordionTab>


    <p-accordionTab header="Quais as repetições que são necessárias para resolver esse problema?">
      <textarea [rows]="5" [cols]="150" pInputTextarea autoResize="autoResize"></textarea>
    </p-accordionTab>

    <p-accordionTab header="Quais as funções que são necessárias para resolver esse problema?">
      <textarea [rows]="5" [cols]="150" pInputTextarea autoResize="autoResize"></textarea>
    </p-accordionTab>

    <p-accordionTab header="Quais os vetores que são necessários para resolver esse problema?">
      <textarea [rows]="5" [cols]="150" pInputTextarea autoResize="autoResize"></textarea>
    </p-accordionTab>
</p-accordion>
<div class="ui-g">
  <div class="ui-g-4"></div>
  <div class="ui-g-2"></div>
  <div class="ui-g-2"></div>
  <div class="ui-g-3">
    <p-button label="Avançar" (onClick)="botao"></p-button>
  </div>
  <div class="ui-g-1"></div>
</div>