<p-toast></p-toast>
<div class="p-grid">
  <div class="p-col-12">
    <div *ngIf="isAlterar">
      <h1 class="first">Alterar questao</h1>
    </div>
    <ng-template #other_content>
      <h1 class="first">Cadastrar questao</h1>
    </ng-template>
  </div>
  <div class="p-col-12">



    <h3 class="first">Título (curto) </h3>
    <input id="nomeCurto" type="text" [(ngModel)]="questao.nomeCurto" pInputText />


    <h3 class="first">Enunciado</h3>
    <textarea [rows]="6" [cols]="60" pInputTextarea autoResize="autoResize" [(ngModel)]="questao.enunciado"></textarea>


    <h3 class="first">Sequência</h3>
    <p-spinner size="15" [min]="0" [(ngModel)]="questao.sequencia"></p-spinner>

    <h3 class="first">Dificuldade</h3>
    <p-dropdown [options]="dificuldades" [(ngModel)]="questao.dificuldade"></p-dropdown>

    <h3>Alternativas</h3>
    <p-button label="Nova alternativa" (click)="adicionarAlternativa()"></p-button>
    <app-cadastrar-alternativas *ngFor="let alternativa of questao.alternativas" [alternativa]="alternativa">
    </app-cadastrar-alternativas>

    <br />

  </div>
  <div class="p-col-12"><button pButton type="button" label="Cadastrar" (click)="cadastrar()"></button>
  </div>
</div>