
 

<h1>Publicação</h1>



<p-card>
  <p-card>
  <h3 class="first">Título:{{postagem.titulo}}</h3>
  {{postagem.texto}}
  </p-card>
</p-card>


<span class="ui-float-label">
    <textarea [rows]="6" [cols]="200" pInputTextarea autoResize="autoResize" [(ngModel)]="resposta.texto"></textarea> 
    <label for="float-input">Comentário..</label>
</span>


<br>
<button  pButton type="button" label="Responder" (click)="responder()" class="ui-button-rounded ui-button-success"></button>
<br>


<div class="ui-g-1"></div>
    <div class="ui-g-8 data-view">
        <p-dataView #dv [value]="respostas" [rows]="20" paginatorPosition="both" filterBy="brand" [sortField]="sortField"
            [sortOrder]="sortOrder">
            <p-header>
            
               Respostas dessa publicação
            </p-header>
            <ng-template let-resposta pTemplate="listItem">

              
                <div class="ui-g" style="padding: 20px;border-bottom: 1px solid #d9d9d9">
                        
                    <p>autor:{{resposta.estudanteId.nome}}</p>
                    <br>
                    
                        {{resposta.texto}}
                       
                    
                
                  
                </div>
             
            </ng-template>
        </p-dataView>        
    </div>
    <div class="ui-g-2"></div>