
 

<h1>{{postagem.titulo}}</h1>



<p-card>
  {{postagem.texto}}
</p-card>


<span class="ui-float-label">
    <textarea [rows]="6" [cols]="82" pInputTextarea autoResize="autoResize" [(ngModel)]="resposta.texto"></textarea> 
    <label for="float-input">Responder...</label>
</span>





<div class="ui-g">
        <div class="ui-g-4"></div>
        <div class="ui-g-2"></div>
        <div class="ui-g-2"></div>
        <div class="ui-g-3">
                <button  pButton type="button" label="Responder" (click)="responder()" class="ui-button-rounded ui-button-success"></button>
            
        </div>
        <div class="ui-g-1"></div>
    </div>



<br>
<br>




    <!-- <div class="ui-g-1"></div>
    <div class="ui-g-8 data-view">
        <p-dataView #dv [value]="respostas" [rows]="20" paginatorPosition="both" filterBy="brand" [sortField]="sortField"
            [sortOrder]="sortOrder">
            <p-header>
                Outros Comentários...
            </p-header>
            <ng-template let-resposta pTemplate="listItem">
                <div class="ui-g" style="padding: 20px;border-bottom: 1px solid #d9d9d9">
                        
                    <div class="ui-g-6">
                      
                        <div class="ui-g">
                            <div class="ui-g-6"> <b>{{resposta.estudante.nome}}</b></div>
                            <div class="ui-g-10 ui-sm-6"></div>

                            <div class="ui-sm-6"> {{resposta.texto}}</div>
                            <div class="ui-g-10 ui-sm-6"></div>

                           
                        </div>
                       
                    </div>
                
                    <div class="ui-g-6">
                    </div>
                </div>
            </ng-template>
        </p-dataView>        
    </div>
    <div class="ui-g-2"></div> -->



    <div class="ui-g"></div>
    <div class="ui-g-12 data-view">
        <p-dataView #dv [value]="respostas" [rows]="20" paginatorPosition="both" [sortOrder]="resposta?.dataCriacao">
            <p-header>
                Comentários anteriores:
            </p-header>
            <ng-template let-resposta pTemplate="listItem">
                <div class="ui-g" style="padding: 20px;border-bottom: 1px solid #d9d9d9">
                        <div class="ui-g-10">
                   
                            <div class="ui-g-1"> <b>{{resposta.estudante.nome}}</b></div> <br>
                            <div class="ui-g-9"> {{resposta.texto}}</div>

                           
                        </div>
                </div>
            </ng-template>
        </p-dataView>        
    </div>