<div class="p-grid" style="margin-top: 10px;">
    <div class="p-col-10">
        <p-card>
            <p-header>
                {{postagem.titulo}}
            </p-header>
            {{postagem.texto}}
        </p-card>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-10">
        <p-table #dv [value]="respostas" [rows]="20" paginatorPosition="both" filterBy="brand" [sortField]="sortField"
            [sortOrder]="sortOrder">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:85%">Comentário</th>
                    <th>Estudante</th>
                </tr>
            </ng-template>
            <ng-template let-resposta pTemplate="body">
                <tr>
                    <td>
                        <span style="font-weight: bold">{{resposta.texto}}</span><br>
                    </td>
                    <td>
                        <span>{{resposta.estudante.nome}}</span>
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-10">
        <span class="ui-float-label">
            <textarea [rows]="6" [cols]="180" pInputTextarea autoResize="autoResize"
                [(ngModel)]="resposta.texto"></textarea>
            <label for="float-input">Comentário..</label>

        </span>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-10">
        <button pButton type="button" label="Responder" (click)="responder()"
            class="ui-button-rounded ui-button-success"></button>
    </div>
</div>