<h3> <p>{{estudante.nome}}</p> </h3>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-table [value]="questoes">
    <ng-template pTemplate="header">
        <tr>
            <th>Questão</th>
            <th>Status</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-questao>
        <tr [pContextMenuRow]="rowData">
            <td>{{questao.nomeCurto}}</td>
            <td>{{questao.respostaUsuario}}</td>
           


        </tr>
    </ng-template>
</p-table>