<!-- <h2>Estudantes</h2>

<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-table [value]="nomes" [(contextMenuSelection)]="selectedTurma" [contextMenu]="cm">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Error Quotient</th>
            <th>% dos acertos</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-nome>
        <tr [pContextMenuRow]="rowData">
            <td>{{nome}}</td>
           

        </tr>
    </ng-template>
</p-table>
<p-contextMenu #cm [model]="items"></p-contextMenu> -->
<p-table [value]="nomes" >
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body"  let-nome>
        <tr >
            <td>{{nome}}</td>
        </tr>
    </ng-template>
</p-table>
