<div class="p-grid">
  <div class="p-col-3">Progresso no curso</div>
  <div class="p-col-6">
    <app-progesso-geral [progresso]="analytics?.progresoGeral"></app-progesso-geral>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-3">Conclusão das questões abertas</div>
  <div class="p-col-6">
    <app-progresso-questoes-abertas
      [progresso]="analytics?.progressoQuestoesProgramacao"
    ></app-progresso-questoes-abertas>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-3">Conclusão das questões fechadas</div>
  <div class="p-col-6">
    <app-progresso-questoes-fechadas
      [progresso]="analytics?.progressoQuestoesFechadas"
    ></app-progresso-questoes-fechadas>
  </div>
</div>

<app-grafico-pizza-erros-conceitos cabecalho="Erros conceituais" [errosConceitos]="analytics?.errosConceituais">
</app-grafico-pizza-erros-conceitos>

<app-card-erros-programacao-pizza
  [erros]="analytics?.errosProgramacao"
></app-card-erros-programacao-pizza>
<!--
<div class="p-grid">
  <div class="p-col-3">Média de submissões até o acerto</div>
  <div class="p-col-6">
    <app-media-submissoes-acerto
      [mediaSubmissoes]="analytics$?.mediaSubmissoesParaAcerto"
    ></app-media-submissoes-acerto>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-3">Total execuções</div>
  <div class="p-col-6">
    <app-total-execucoes [totalExecucoes]="analytics$?.totalExecucoes"></app-total-execucoes>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-3">Questões que tentou resolver</div>
  <div class="p-col-6">
    <app-tentativa-questoes
      [tentativasQuestoes]="analytics$?.tentativasQuestoes"
    ></app-tentativa-questoes>
  </div>
</div>
 -->
