<p-toast [style]="{ marginTop: '80px' }"></p-toast>
<h1>Estudantes</h1>

<div class="ui-g">
  <div class="ui-g-2"></div>
  <div class="ui-g-2">
    <!--<button pButton label="Cadastrar" (click)="cadastrarEstudante()"></button> -->
  </div>
  <div class="ui-g-4">
    <!-- <button pButton label="Estatísticas" (click)="visualizarEstatisticas()"></button>
    <button pButton label="Exportar analytics" (click)="exportarAnalytics()"></button>
    <button pButton label="MSLQ" (click)="abrirMslq()"></button> -->
    <button pButton label="Exibir progresso dos alunos" (click)="exibirProgresso()"></button>
    <button pButton label="Exibir estatísticas da turma" (click)="visualizarEstatisticas()"></button>
  </div>
</div>
<div class="ui-g-2">

</div>


<p-table [value]="estudantes$" [(contextMenuSelection)]="selectedEstudante">
  <ng-template pTemplate="header">
    <tr>
      <!-- <th>id</th>
      <th>Gênero</th>
       -->
      <th>Nome</th>
      <th>Idade</th>
      <th>Conhecimento prévio em programação</th>
      <th>Progresso geral</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-estudante>
    <tr [pContextMenuRow]="rowData">
      <!-- <td>
        <a>{{ estudante.id }}</a>
      </td>
      <td>
        {{ estudante.genero }}
      </td> -->
      <td>
        <a (click)="abrirPerfilEstudante(estudante)">{{ estudante.nome }}</a>
      </td>
      <td>
        {{ estudante.faixaEtaria }}
      </td>
      <td>
        {{ getConhecimento(estudante.conhecimentoPrevioProgramacao) }}
      </td>

      <td>{{ estudante.progressoGeral }}</td>
    </tr>
  </ng-template>
</p-table>


<!--
<app-matriz-transicao></app-matriz-transicao> -->
<!-- <app-grafo-estudantes [pageTracks]="pageTracks"></app-grafo-estudantes> -->
