<button pButton label="Modificar grupo" (click)="modificarGrupo()"></button>
<button pButton label="Visualizar chat" (click)="visualizarChat()"></button>
<p-table [value]="submissoesGrupo">
    <ng-template pTemplate="header">
        <tr>
            <th>Data</th>
        </tr>
    </ng-template>
    <ng-template let-submissaoGrupo pTemplate="body">
        <tr>
            <td>
                <span style="cursor: pointer;" (click)="visualizarSubmissao(submissaoGrupo.submissaoId)">{{submissaoGrupo.data}}<br></span>
            </td>

        </tr>
    </ng-template>
</p-table>