
<ngx-graph *ngIf="grafo != null" chart-container [view]="[2000, 5000]" [nodes]="nodes" [zoomToFit$]="zoomToFit$" [links]="edges" #markov>
  <ng-template #defsTemplate>
    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
    </svg:marker>
  </ng-template>
  <ng-template #linkTemplate let-link>
    <svg:g class="edge">
      <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
      </svg:path>
      <svg:text class="edge-label" text-anchor="middle">
        <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline"
          startOffset="50%">
          {{link.label}}
        </textPath>
      </svg:text>
    </svg:g>
  </ng-template>
 <!--  <ng-template #nodeTemplate let-node>
    <svg:g class="node">
      <circle class="circle" stroke-width="2" marker-end="url(#arrow)">
      </circle>
      <svg:text class="node-label" text-anchor="middle">
        <textPath class="text-path" [attr.href]="'#' + node.id" [style.dominant-baseline]="node.dominantBaseline"
          startOffset="50%">
          {{node.label}}
        </textPath>
      </svg:text>
    </svg:g>
  </ng-template> -->
  <ng-template #nodeTemplate let-node>
    <svg:g class="node">
      <svg:rect
        [attr.width]="node.dimension.width"
        [attr.height]="node.dimension.height"
        [attr.fill]="node.data.color"
      />
      <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
        {{node.label}}
      </svg:text>
    </svg:g>
  </ng-template>
</ngx-graph>
<button pButton label="Salvar em imagem" (click)="gerarScreenshot()"></button>