<p-toast></p-toast>

<h1>Questão:{{questao?.nomeCurto}}</h1>


 <p-fieldset legend="Questão: {{questao?.sequencia}}">
  {{questao?.enunciado}}
</p-fieldset>
 <br>
 <br>

 <p-radioButton *ngFor="let alternativa of questao.alternativas" class= "alternativa" name="{{alternativa.nome}}" value= "{{alternativa.id}}"

 [(ngModel)]="respostaQuestaoFechada.resposta" label="{{alternativa.texto}}" inputId= "{{alternativa.id}}"></p-radioButton>



 <br>
 <br>
    <p-button label="Responder" (click) = "responder()" ></p-button>
    
  
 


 
