<p-toast></p-toast>

<div *ngIf="questao != undefined">

  <app-breadcrumb-assunto [assunto]="assunto" [questao]="questao"></app-breadcrumb-assunto>

  <h1>{{questao?.nomeCurto}}</h1>

  <p-fieldset legend="Questão: {{questao?.sequencia}}">


    <div *ngIf="questao?.hasCode(); else semCodigo" [innerHtml]="gerarHtmlTextoComCodigo(questao)">

    </div>
    <ng-template #semCodigo>
      {{questao?.enunciado}}
    </ng-template>
  </p-fieldset>
  <br>
  <br>
  <div>
    <p-radioButton *ngFor="let alternativa of questao.alternativas" name="alternativas" class="alternativa"
      value="{{alternativa.id}}" (onClick)="selecionarAlternativa(alternativa)" label="{{alternativa.texto}}"
      inputId="{{alternativa.id}}" [(ngModel)]="respostaQuestaoFechada.alternativaId"
      [disabled]="respostaQuestaoFechada.pk() != undefined"></p-radioButton>
  </div>


  <br>
  <div class="p-grid">
    <div class="p-col-12">
      <div *ngIf="mostrar">
        <p-card>
          <p>{{questao?.respostaQuestao}}</p>
        </p-card>
      </div>

    </div>
    <div class="p-col-12">
      <br>
      <br>


      <p-confirmDialog header="Tem certeza da resposta?" icon="pi pi-exclamation-triangle"></p-confirmDialog>
      <button type="text" (click)="confirmar()" pButton icon="pi pi-check" class="ui-button-success" label="Responder"
        [disabled]="respostaQuestaoFechada.pk() != undefined"></button>
    </div>