
<h3>Estudante:Wanessa</h3>
<h3>Data:24/07/2019</h3>
<h3>Questao</h3>

<textarea [rows]="80" [cols]="80" pInputTextarea autoResize="autoResize" [(ngModel)]=" hh" disabled></textarea>


  

 
<p-table [value]="cars">
    <ng-template pTemplate="header">
        <tr>
            <th>Tests Cases</th>
            
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td> hyu</td>
            <td>fdgg</td>
            <td>ggfh</td>
            <td>hfhfh</td>
        </tr>
    </ng-template>
</p-table>


     

