<p-toast [style]="{marginTop: '80px'}" [showTransitionOptions] = "'10ms'" [hideTransitionOptions] = "'10ms'"></p-toast>
<h1> Cadastro de estudante</h1>

<span class="ui-float-label">
  <input  [(ngModel)]= "estudante.turma.codigo" type="text" size="6" pInputText>
<label>Nº da turma</label>
</span>
<br/> 
<span class="ui-float-label">
    <input  [(ngModel)]= "estudante.usuario.nome"  id ="EstudanteNome" type="text" size="30" pInputText>
  <label>Nome</label>
</span>
<br/> 
<span class="ui-float-label">
    <input [(ngModel)]= "estudante.usuario.email"  id ="EstudanteEmail" type="text" size="30" pInputText>
  <label>E-mail</label>
</span>
<br/>
<span class="ui-float-label" *ngIf="isAtualizacao == undefined">
    <input  [(ngModel)]= "estudante.usuario.senha"  id ="EstudanteSenha" type="password" size="30" pInputText>
  <label>Senha</label>
</span>

 
<br/> 
<button pButton type="button" label= "Salvar" (click) = 'cadastrarEstudante()' ></button>  