<button style="margin-bottom: 10px;" label="{{submissao.isComSucesso()?'Sucesso':'O algoritmo não está correto.'}}"
      *ngIf="submissao != undefined && submissao.isComSucesso() != null" 
      [ngClass]="{'ui-button-success':submissao.isComSucesso(), 'ui-button-danger':!submissao.isComSucesso()}" pButton></button>

<p-table [value]="testsCases">
  <ng-template pTemplate="header">
      <tr>
          <th>#</th>
          <th>Entradas</th>
          <th>Saída esperada</th>
          <th>Concluído</th>
          <th>Resposta do algoritmo</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-testCase let-i="rowIndex">
      <tr>
          <td>{{i+1}}</td>
          <td>{{testCase.entradas}}</td>
          <td>{{testCase.saida}}</td>
          <td >{{testCase.resultadoTestCase?.status == true?"Correto":"Incorreto"}}</td>
          <td>{{testCase.resultadoTestCase?.respostaAlgoritmo}}</td>
      </tr>
  </ng-template>
</p-table>

