<h4>Testscases</h4>

<p-table [value]="questao?.testsCases">
  <ng-template pTemplate="header">
    <tr>
      <th>Entradas</th>
      <th>Saída esperada</th>
      <th *ngIf="estudante.grupoExperimento != 4">Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-testCase let-i="rowIndex">
    <tr *ngIf="i < 3">
      <td>
        <app-apresentacao-entradas-testcase [entradas]="testCase.entradas">
        </app-apresentacao-entradas-testcase>
      </td>
      <td [innerHTML]="apresentarSaidas(testCase.saida)"></td>
      <td *ngIf="estudante.grupoExperimento != 4">
        <span *ngIf="submissao != null && testCase.resultado != null">
          {{ testCase.resultado.status == true ? 'Correto' : 'Incorreto' }}
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>


