<p-toast></p-toast>

      <div class="container">

        <div class="hero-section respon">
            <h1 class="hero-section__title">Let'sCode</h1>
            <h3 class="hero-section__subtitle">O poder de programar!</h3>

            <div class="hero-section__container-info">
                <div class="hero-section__card-info">
                    <div class="hero-section__about-card-icon"><i class="fas fa-laptop-code"></i></div>
                    <div class="hero-section__about-card-info">
                        <p>Resolva questões de programação</p>
                    </div>
                </div>
                <div class="hero-section__card-info">
                    <div class="hero-section__about-card-icon"><i class="fas fa-book-reader"></i></div>
                    <div class="hero-section__about-card-info">
                        <p> Adquira materiais disponibilizados por seu professor </p>
                    </div>
                </div>
                <div class="hero-section__card-info">
                    <div class="hero-section__about-card-icon"><i class="fas fa-users"></i></div>
                    <div class="hero-section__about-card-info">
                        <p> Interaja com seus amigos através de códigos </p>
                    </div>
                </div>
            </div>

            <div class="footer-link">
                <a href="#">Privacidade</a>
                <a href="#">Termo</a>
                <a href="#">FAQs</a>
                <a href="#">Credito</a>
                <a href="#">Contato</a>
            </div>
        </div>

        <div class="login-section">
                
      <div class="p-grid form">
        <div class="p-col-12 row-title">Entrar</div>
        
                <div class="p-col-12 row-input">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" id="login"  [(ngModel)]="usuario.email" pInputText placeholder="Email">         
                  </div>
                </div>
        
                <div class="p-col-12 row-input">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
                    <input type="password"  id="senha" [(ngModel)]="usuario.senha" pInputText placeholder="Senha" pPassword />       
                  </div>
                </div>
        
                <div class="p-col-12 row-link" class="link">
                    <a class= ""  (click)="cadastrar()" >Esqueceu a senha?</a>
                  </div>
                <div class="p-col-12 row-btn">
                  <button pButton id="loginBtn" (click)="acessar()" type="button" label="Entrar" class=" ui-button-raised" ></button>
                </div>
                <div class="p-col-12">
                  <button pButton id="cadastro" (click)="cadastrar()" type="button" label="Inscreve-se" class="ui-button-secondary ui-button-raised"></button>
                </div> 
              </div>
        </div>

    </div>

















