/* :host >>> img{
    display:flex;
    Align-items:center;
    max-width: 300px;
    width:40%;
}

:host >>> .imagem{
    margin-left: auto;
    margin-right: auto;
}  */

:host >>> input{
    width: 100%;
} 
   
.link{
    color: #000;
    Font-size: 13px;
}

button{
    width: 100%;
    font-weight: bold;
}
 