<div class="p-grid">
  <div class="p-col-3">Conclusão dos assuntos</div>
  <div class="p-col-6">
    <app-progesso-geral [progresso]="analytics$?.progresoGeral"></app-progesso-geral>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-3">Conclusão das questões abertas</div>
  <div class="p-col-6">
    <app-progresso-questoes-abertas
      [progresso]="analytics$?.progressoQuestoesAbertas"
    ></app-progresso-questoes-abertas>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-3">Conclusão das questões fechadas</div>
  <div class="p-col-6">
    <app-progresso-questoes-fechadas
      [progresso]="analytics$?.progressoQuestoesFechadas"
    ></app-progresso-questoes-fechadas>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-3">Percentual questões visualizadas</div>
  <div class="p-col-6">
    <app-progresso-questoes-fechadas
      [progresso]="analytics$?.percentualVisualizacaoQuestoesFechadas"
    ></app-progresso-questoes-fechadas>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-3">Total de erros em programação</div>
  <div class="p-col-6">
    <app-total-erros [totalErrosProgramacao]="analytics$?.totalErrosProgramacao"></app-total-erros>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-3">Média de submissões até o acerto</div>
  <div class="p-col-6">
    <app-media-submissoes-acerto
      [mediaSubmissoes]="analytics$?.mediaSubmissoesParaAcerto"
    ></app-media-submissoes-acerto>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-3">Total execuções</div>
  <div class="p-col-6">
    <app-total-execucoes [totalExecucoes]="analytics$?.totalExecucoes"></app-total-execucoes>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-3">Tempo online</div>
  <div class="p-col-6">
    <app-tempo-online [tempoOnline]="analytics$?.tempoOnline"></app-tempo-online>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-3">Questões que tentou resolver</div>
  <div class="p-col-6">
    <app-tentativa-questoes
      [tentativasQuestoes]="analytics$?.tentativasQuestoes"
    ></app-tentativa-questoes>
  </div>
</div>
