<div class="p-grid">
  <div class="p-col-1">Conclusão dos assuntos</div>
  <div class="p-col-2">
    <app-progesso-geral [estudante]="estudante"></app-progesso-geral>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-1">Conclusão das questões abertas</div>
  <div class="p-col-2">
    <app-progresso-questoes-abertas [estudante]="estudante"></app-progresso-questoes-abertas>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-1">Conclusão das questões fechadas</div>
  <div class="p-col-2">
    <app-progresso-questoes-fechadas [estudante]="estudante"></app-progresso-questoes-fechadas>
  </div>
</div>
