
<p-tabView [activeIndex]="index">
  <p-tabPanel header="Assunto">
     
    <h2>Planeje O Seu Estudo</h2>

    <p>Escolha abaixo o assunto que pretende estudar.</p>
    <p>Clique duas vezes sobre ele para criar um novo plano</p>

    <p-table [value]="assuntos">
      <ng-template pTemplate="header">
        <tr>
          <th>Assunto</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-assunto>
        <tr>
          <button pButton type="button" class="ui-button-secondary" (click)="mostrarProximo(assunto)" style="width: 100%;"><td>{{assunto.nome}}</td></button>
        </tr>
      </ng-template>
    </p-table>

  </p-tabPanel>
  <p-tabPanel header="Dados do Auto Regulamento">
      
    <div style="margin-left: auto;margin-right: auto;width: 30em">

      <table>
        <tr>
          <td><p ><b>Tempo de estudo semanal(horas): {{planejamento.tempoEstudo}}</b> &nbsp;</p></td>
          <td><p-slider [(ngModel)]="planejamento.tempoEstudo" [min]="1" [max]="10" [style]="{'width':'12em'}"></p-slider></td>
        </tr>
      </table>
      <br><br>
    
      <p><b>Por que você considera esse assunto importante no aprendizado de programação?</b></p>
    
      <textarea [rows]="5" [cols]="50" pInputTextarea autoResize="autoResize" [(ngModel)]="planejamento.importanciaAssunto" ></textarea>
      <br><br>

      <p><b>Como você avalia a dificuldade desse assunto?</b></p>
    
      <p-dropdown [options]="dificuldades" [(ngModel)]="planejamento.dificuldadeConteudo" ></p-dropdown>

      <p><b>O que meus colegas acham?</b> % dos estudantes consideram esse tema difícil; % consideram normal e % consideram facíl.</p>
      <br><br>

      <p><b>Como você planeja realizar esse estudo?</b></p>
    
      <textarea [rows]="5" [cols]="50" pInputTextarea autoResize="autoResize" [(ngModel)]="planejamento.estrategiaRealizacaoEstudo" ></textarea>
      <br><br>

      <button pButton type="button" class="ui-button-info" (click)="cadastrarPlanejamento()" style="left: 75%;">Cadastrar</button>

    </div>

  </p-tabPanel>
</p-tabView>

