
<p-accordion>
    <p-accordionTab header="Enunciado">
        
    </p-accordionTab>
    <p-accordionTab header="Qual problema será resolvido?">
        <div id="problema-container"></div>
    </p-accordionTab>
    <p-accordionTab header="Quão difícil será criar um algoritmo para esse problema?">
        Content 3    
    </p-accordionTab>
    <p-accordionTab header="Quais recursos serão necessários? (variáveis, condições, repetições, entre outros)">
        <div id="recursos-container"></div>
    </p-accordionTab>
</p-accordion>