<p-toast [baseZIndex]="5000" [autoZIndex]="false"></p-toast>
<p-dialog [modal]="true" header="Vamos programar?" [(visible)]="visibilidadeCadastro" (onHide)="navegarLoginSucesso()">
  Cadastro realizado com sucesso. Você já pode fazer o login.
  <p-footer>
    <button pButton label="Fechar" class="ui-button-info" (click)="navegarLoginSucesso()"></button>
  </p-footer>
</p-dialog>
<div class="container">

  <div class="login-section">

    <div class="p-grid form">
      <div class="p-col-12 row-title"> Faça seu cadastro</div>

      <div class="container-painel">


        <div class="p-col-12">
          <span class="ui-float-label">
            <input id="codigo-turma" [(ngModel)]="usuario.turma.codigo" type="text" size="6" pInputText>
            <label>Nº da turma</label>
          </span>
        </div>
        <div class="p-col-12">
          <span class="ui-float-label">
            <input id="nome" [(ngModel)]="usuario.nome" type="text" size="30" pInputText>
            <label>Nome</label>
          </span>
        </div>
        
        <div class="p-col-12">
          <span class="ui-float-label">
            <input id="email" [(ngModel)]="usuario.email" type="text" size="30" name="emailCadastro" pInputText>
            <label>E-mail (será utilizado para acesso ao sistema)</label>
          </span>
        </div>
        <div class="p-col-12">
          <span class="ui-float-label">
            <input id="senha" [(ngModel)]="usuario.senha" type="password" size="30" pInputText>
            <label>Senha</label>
          </span>
        </div>

        <div class="p-col-12">
          <span class="ui-float-label">
            <p-dropdown [options]="genero" [(ngModel)]="usuario.genero" optionLabel="label" placeholder="Como você se identifica?"></p-dropdown>
          </span>
        </div>
        <div class="p-col-12">
          <span class="ui-float-label">
            <input id="idade" [(ngModel)]="usuario.faixaEtaria" type="text" size="30" pInputText>
            <label>Qual a sua idade</label>
          </span>
        </div>
        <div class="p-col-12">
          <span class="ui-float-label">
            <p-dropdown [options]="conhecimentoProgramacao" [(ngModel)]="usuario.conhecimentoPrevioProgramacao" optionLabel="label" placeholder="Qual o seu conhecimento em programação?"></p-dropdown>
          </span>
        </div>
        
        <div class="p-col-12">
          <button id="cadastrar" pButton type="button" label="Salvar" (click)="cadastrarEstudante()"
            class="ui-button-raised "></button>
          <div style="margin-top:10px;">Já tem uma conta? <a href="http://www.32bits.codes">Clique para login</a></div>
        </div>
      </div>


    </div>

  </div>