<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-11">
    <h2>Planeje o seu estudo</h2>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-4">
    Escolha ao lado o assunto que pretende estudar
  </div>
  <div class="p-col-6">
    <p-dropdown [options]="assuntos" [(ngModel)]="planejamento.assunto"></p-dropdown>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-4">
    Quanto tempo (em horas) semanalmente você irá dedicar ao estudo?
  </div>
  <div class="p-col-1">
    <p-slider [(ngModel)]="planejamento.tempoEstudo" [min]="1" [max]="20" ></p-slider>
  </div>
  <div class="p-col-2">
    {{planejamento.tempoEstudo}} horas
  </div>
</div>


<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-4">
    Por que você considera esse assunto importante no aprendizado de programação?
  </div>
  <div class="p-col-6"> <textarea [rows]="5" [cols]="50" pInputTextarea autoResize="autoResize"
      [(ngModel)]="planejamento.importanciaAssunto"></textarea></div>
</div>

<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-4">
    Como você avalia a dificuldade desse assunto?
  </div>
  <div class="p-col-6"><p-dropdown [options]="dificuldades" [(ngModel)]="planejamento.dificuldadeConteudo"></p-dropdown></div>
</div>


<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-4">
    Como você pretende estudar? Aqui você pode informar o horário que espera estudar, se fará sozinho ou em grupo, o local e também quais recursos utilizará (materiais, livros, vídeos, entre outros).
  </div>
  <div class="p-col-6"><textarea [rows]="5" [cols]="50" pInputTextarea autoResize="autoResize"
    [(ngModel)]="planejamento.estrategiaRealizacaoEstudo"></textarea></div>
</div>


<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-2">
    <button pButton type="button" (click)="cadastrarPlanejamento()" label="Salvar"></button>
  </div>
  <div class="p-col-6"></div>
</div>