<p-toast></p-toast>

<h3>Questão:{{questao.nomeCurto}}</h3>


<table>
  <tr>
    <td><b>Título</b></td>
    <td>{{questao?.nomeCurto}}</td>
  </tr>
  <tr>
    <td><b>Enunciado</b></td>
    <td>{{questao?.enunciado}}</td>
  </tr>
  <tr>
    <td><b>Dificuldade</b></td>
    <td>{{questao?.dificuldade}}</td>
  </tr>
  <tr *ngFor='let assunto of questao?.assuntos '>
    <td><b>Assuntos relacionados</b></td>
    <td> {{assunto.nome}}</td>
  </tr>
  <tr>
    <td><b>Sequência de exibição</b></td>
    <td>{{questao?.sequencia}}</td>
  </tr>
  <tr *ngFor='let teste of questao?.testsCases'>
    <td><b>TestCase</b></td>
    <td><b>Entrada: </b>{{teste.entradas}} <br>
      <b>Saida: </b>{{teste.saida}}
    </td>


  </tr>
</table>

 <app-listar-estudantes-submissao [questaoId]="questao?.id" ></app-listar-estudantes-submissao> 
 
 

 <p-button label="Editar" (click)="abrirEditor(questao)"></p-button>

 
