<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-1">
    <button pButton label="Nova Questão" (click)="cadastrar()"></button>
  </div>
  <div class="p-col-2">
    <button pButton label="Visualizar questão" (click)="visualizar()"></button>
  </div>
</div>

<div class="p-grid" style="height: 600px">
  <div class="p-col-1"></div>
  <div class="p-col-10">
    <p-orderList
      id="tabelaQuestoesFechadas"
      [value]="questoes$"
      (onReorder)="reordenar($event)"
      [(selection)]="questaoSelecionada"

    >
      <ng-template pTemplate="item" let-rowData let-questao let-resposta let-i="rowIndex">
        <div>
          <span style="cursor: pointer" (click)="visualizar()">{{ questao.nomeCurto }} - {{questao.conceitos}}</span>
        </div>
      </ng-template>
    </p-orderList>
  </div>
</div>
