<div class="saida" style="min-height:80%;">
  <div *ngIf="consoleEditor.erroServidor != null">
    {{consoleEditor.erroServidor.mensagem}}
  </div>
  <div *ngIf="consoleEditor.submissao != null">

    <div *ngIf="consoleEditor.submissao.erros.length > 0">
      <p-table [value]="consoleEditor.submissao.erros" autoLayout="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Tipo do erro</th>
            <th>Linha</th>
            <th>Descrição</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-erro>
          <tr>
            <td>
              {{ getLabelCategoriaErro(erro.categoria) }}
            </td>
            <td>{{ erro.linha }}</td>
            <td><span [innerHtml]="erro.getMensagem() | keepHtml"></span></td>

          </tr>
        </ng-template>
      </p-table>


    </div>
    
    
  </div>