<div class="ui-g">
    <div class="ui-g-2">
        <button pButton type="button" (click)="cadastrar()" class="ui-button-info" label= "Novo Post" ></button> 
    </div>
</div>

 <div class="ui-g"></div>
    <div class="ui-g-12 data-view">
        <p-dataView #dv [value]="postagens" [rows]="20" paginatorPosition="both" [sortOrder]="postagem?.dataCriacao">
            <p-header>
                Comentários:
            </p-header>
            <ng-template let-postagem pTemplate="listItem">
                <div class="ui-g" style="padding: 20px;border-bottom: 1px solid #d9d9d9">
                        <div class="ui-g-10">
                   
                            <div class="ui-g-1"> <b>{{postagem.estudante.nome}}</b></div>
                            <div class="ui-g-9"> {{postagem.titulo}}</div>

                           
                        </div>
                    <div class="ui-g-1">
                        <button pButton class="ui-button-success" type="button" (click)="abrirPostagem(postagem)"
                         label="Comentar"></button>
                    </div>
                </div>
            </ng-template>
        </p-dataView>        
    </div>