<div class="ui-g">
    <div class="ui-g-2">
        <button pButton type="button" (click)="cadastrar()" class="ui-button-success" label="Novo Post"></button>
    </div>
</div>

 
<div class="ui-g"></div>
<div class="ui-g-12 data-view">
    <p-table [value]="postagens" [rows]="20" paginatorPosition="both">
        <ng-template pTemplate="header">
            <tr>
                <th>Postagens</th>
            </tr>
        </ng-template>
        <ng-template let-postagem pTemplate="body" >
            <tr>
                <td (click)="abrirPostagem(postagem)" style="cursor:pointer">
                    <span style="font-weight: bold">{{postagem.titulo}}</span><br>
                    <span style="font-size: small">{{postagem.estudante.nome}}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

