<!-- Create a simple CodeMirror instance -->


<script type="text/javascript">
  // output functions are configurable.  This one just appends some text
  // to a pre element.
  /*function outf(text) {
      var mypre = document.getElementById("output");
      mypre.innerHTML = mypre.innerHTML + text;
  }*/


</script>

<div class="p-grid">
    <div class="p-col-1"></div>
    <div class="p-col-6">
        <h3>Algoritmo</h3>
    </div>
    <div class="p-col-3">
      <div>
        <h3>Execução</h3>
        
      </div>
    </div>
    <div class="p-col-2"></div>
  </div>

<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-6">
    <div id="container" style="height:600px;border:1px solid grey"></div>
  </div>
  <div class="p-col-3">
    <div>
        <div class="p-grid">
            <div class="p-col-2">Status</div>
            <div class="p-col-4" [innerHTML]="editorCodigo?.statusExecucao"></div>
        </div>
      <p [innerHTML]="editorCodigo?.saida" #output></p>
    </div>
  </div>
  <div class="p-col-2"></div>
</div>


<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-6">
    <button type="button" (click)="runit()" pButton label="Executar"></button>
  </div>
  <div class="p-col-3">

  </div>
<div class="p-col-2"></div>
</div>


<!-- If you want turtle graphics include a canvas -->
<div id="mycanvas"></div>



<!-- OR ANY OTHER AMD LOADER HERE INSTEAD OF loader.js -->