<h2>Estudantes</h2>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div>
    <button pButton label="Cadastrar" (click)="cadastrarEstudante()"></button>
</div>
<p-table [value]="estudantes" [(contextMenuSelection)]="selectedEstudante"  [contextMenu]="cm">
   <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Error Quotient</th>
            <th>% dos acertos</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-estudante>
        <tr [pContextMenuRow]="rowData">
            <td><a (click)="abrirPerfilEstudante(estudante)">{{estudante.nome}}</a></td>
        </tr>
    </ng-template>
</p-table>
<p-contextMenu #cm [model]="items"></p-contextMenu> 