<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-11">
    <h3>Avalie o seu desempenho</h3>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-3">
    Como você avalia o seu nível de confiança neste conteúdo?
  </div>
  <div class="p-col-8">
    <p-dropdown [options]="niveisConfianca" [(ngModel)]="autoReflexao.nivelConfianca"></p-dropdown>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-3">
    Quais foram as dificuldades enfrentadas durante o aprendizado?
  </div>
  <div class="p-col-8"><textarea pInputTextarea [(ngModel)]="autoReflexao.dificuldades" style="width:100%"></textarea>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-3">
    O que você deveria ter feito que poderia melhorar seu aprendizado?
  </div>
  <div class="p-col-8"><textarea pInputTextarea [(ngModel)]="autoReflexao.acoesFracasso" style="width:100%"></textarea>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-3">
    O que você fez que ajudou no seu aprendizado?
  </div>
  <div class="p-col-8"><textarea pInputTextarea [(ngModel)]="autoReflexao.acoesSucesso" style="width:100%"></textarea>
  </div>
</div>


<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-2">
    <p-button label="Salvar" (click)="salvar()" styleClass="ui-button-info"></p-button>
  </div>
</div>