<!-- Permitir pesquisar o aluno

Adicionar o aluno

Criar a sala

Gerar o link -->

<div class="p-grid">
    <div class="p-col-12">
        Selecionar estudantes
    </div>
</div>

<div class="p-grid">
    <div class="p-col-12">
        <p-autoComplete [(ngModel)]="estudanteSelecionado" [suggestions]="pesquisaAlunos"
            (completeMethod)="pesquisar($event)" [dropdown]="true" (onSelect)="selecionarAluno($event)">

            <ng-template let-aluno pTemplate="item">
                <span>{{aluno.nome}}</span>
            </ng-template>

        </p-autoComplete>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-12">
        Estudantes selecionados
    </div>
</div>

<div class="p-grid">
    <div class="p-col-12">

        <div *ngFor="let a of estudantesSelecionados">
            {{a.nome}} <button pButton type="button" icon="pi pi-times" iconPos="left" (click)="excluir(a)"></button>
        </div>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-12">
        Selecionar assunto
    </div>
</div>

<div class="p-grid">
    <div class="p-col-12">
        <p-dropdown [options]="assuntos" [(ngModel)]="assuntoSelecionado" optionLabel="nome"
            (onClick)="selecionarAssunto()"></p-dropdown>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-12">
        Selecionar questão
    </div>
</div>

<div class="p-grid">
    <div class="p-col-12">
        <p-table [value]="questoes">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-questao>
                <tr>
                    <td (click)="selecionarQuestao(questao)">{{questao.nomeCurto}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="p-grid" *ngIf="questaoSelecionada != null">
    <div class="p-col-12">
        Questão selecionada: {{questaoSelecionada.nomeCurto}}
    </div>
</div>

<div class="p-grid">
    <div class="p-col-1">
        Data limite
    </div>
    <div class="p-col-11">
        <p-calendar [(ngModel)]="dataExpiracao" showTime="true" hourFormat="24"></p-calendar>
    </div>
</div>

<button pButton type="button" label="Criar sala" (click)="criarSala()"></button>