:host >>> .ui-table	{
  border: 1px solid  #1b95e0;
} 

:host >>> .ui-menubar	{
height: 60px;
background: #1b95e0;
/* background: #33691e !important; */
border: none;
display: flex;
align-items: center;
border-radius: 0px;
}  

.ui-menuitem-text{
color: #fff !important;
}

h1 {
text-align: center;
font: italic small-caps bold 24px/0px "Comic Sans MS", cursive, sans-serif;
color: gray;
}

:host >>> .logincard .ui-card {
margin: auto;
width: 539px;
height: 420px;
display: flex;
align-items: center;
} 

:host >>> .ui-menuitem-text{
color:white !important;
}

a {
color: #333333;
}





