:host >>> .ui-table	{
    background-color: #C5E1A5 !important;
    border: 1px solid #689f38;
} 

h1 {
    text-align: center;
    font: italic small-caps bold 24px/0px "Comic Sans MS", cursive, sans-serif;
    color: gray;
  }


  
:host >>> .ui-card	{ 
    background-color:rgb(172, 241, 172);
     background-color: rgb(193, 248, 193);

}




