:host >>> .ui-table	{
  border: 1px solid  #144b6d;
} 

:host >>> .ui-menubar	{
height: 60px;
background: #0c4f7c;
border: none;
display: flex;
align-items: center;
border-radius: 0px;
}  



.ui-menu .ui-menuitem-link:hover, body .ui-menubar .ui-menuitem-link:hover, body .ui-tieredmenu .ui-menuitem-link:hover, body .ui-contextmenu .ui-menuitem-link:hover, body .ui-megamenu .ui-menuitem-link:hover, body .ui-slidemenu .ui-menuitem-link:hover{
  background-color: #0d476e !important;
  height: 100%;
}


:host >>> .logincard .ui-card {
margin: auto;
width: 539px;
height: 420px;
display: flex;
align-items: center;
} 


a {
color: #333333;
}

p {
  font-family: Lato;
}

body{
  background-color: white;
}






