<p-toast></p-toast>
<div *ngIf="questao != null; else loading">
  <app-chat *ngIf="this.atividadeGrupo != null" [atividadeGrupo]="atividadeGrupo"></app-chat>

  <div class="p-grid" style="margin: 10px 10px 10px 10px">
    <app-breadcrumb-assunto [assunto]="assunto" [questao]="questao" *ngIf="atividadeGrupo == null">
    </app-breadcrumb-assunto>


    <!-- 
    <div class="p-mb-12">
      <ng-template *ngIf="usuario.grupoExperimento != 4">
        <button
          type="button"
          (click)="listarSubmissao()"
          pButton
          label="Visualizar resposta"
          lass="ui-button-secondary"
        ></button>
      </ng-template> 
     
      <button type="button" (click)="enviarErroEditor()" pButton label="Há um problema no Editor?"
        lass="ui-button-danger"></button>
    </div>
    
  </div>-->
    <div class="p-col-12">
      <div class="p-grid">
        <div class="p-col-4">
          <div class="p-grid">
            <div class="p-col-12">
              <div class="p-grid">
                <div class="p-col-6">
                  <button type="button" (click)="visualizarPlanejamento()" pButton label="Visualizar planejamento"
                    class="p-button-help" *ngIf="atividadeGrupo == null"></button>
                </div>
                <div class="p-col-6">
                  <app-btn-avancar-questao [assunto]="assunto" [questao]="questao" *ngIf="atividadeGrupo == null"></app-btn-avancar-questao>
                </div>
              </div>
            </div>
            <div class="p-col-12">
              <dados-questao [questao]="questao" [submissao]="submissao" id="dadosQuestao"></dados-questao>
            </div>
            <div class="p-col-12">
              <ng-container *ngIf="usuario.grupoExperimento != 4">

                <app-card-erros-programacao-pizza [erros]="errosEstudante"></app-card-erros-programacao-pizza>
              </ng-container>
            </div>
          </div>

        </div>

        <div class="p-col-8">
          <div class="p-grid">
            <div class="p-col-12">
              <app-editor-programacao id="editorProgramacao" [modoVisualizacao]="modoVisualizacao"
                [submissao]="submissao" [questao]="questao" [assunto]="assunto" [atividadeGrupo]="atividadeGrupo" [grupo]="grupo"
                (onError)="onEditorError($event)" (onVisualization)="onVisualization($event)"
                (onServidorError)="onServidorError($event)" (onSubmit)="onEditorSubmit($event)"
                (onEditorReady)="onEditorReady($event)">
              </app-editor-programacao>
            </div>
            <div class="p-col-12">
              <div *ngIf="modoVisualizacao == false; else visualizacao" style="margin-top: 10px">
                <app-console [submissao]="submissao" [consoleEditor]="consoleEditor"></app-console>
              </div>
              <ng-template #visualizacao>
                <visualizar-execucao [traceExecucao]="traceExecucao" [editor]="editorCodigo">
                </visualizar-execucao>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PRECISA VER SE HAVERÁ ESSA COLUNA NO EDITOR. ELA SÓ FAZ SENTIDO EXISTIR POR CONTA DA VISUALIZAÇÃO DE ALGORITMOS, VER OUTRO LUGAR PARA COLOCAR.
    
    -->
</div>



<ng-template #loading>Carregando questão...</ng-template>

<p-dialog header="Indique o motivo do pedido de ajuda (dúvida):" [(visible)]="dialogPedirAjuda">
  <span class="ui-float-label">
    <textarea pInputTextarea autoResize="autoResize" [cols]="44" [(ngModel)]="duvida"></textarea>
    <label for="float-input">Digite o motivo</label>
  </span>
  <button type="button" pButton icon="pi pi-check" (click)="dialogPedirAjuda = false; enviarPedidoDeAjuda()"
    label="Enviar"></button>
  <button type="button" pButton icon="pi pi-close" (click)="dialogPedirAjuda = false" label="Cancelar"
    class="ui-button-secondary"></button>
</p-dialog>