<div *ngIf="questao != null; else loading">
  <div class="p-grid" style="margin: 10px 10px 10px 10px">
    <app-breadcrumb-assunto [assunto]="assunto" [questao]="questao"></app-breadcrumb-assunto>

    <div class="p-col-12">
      <!-- <ng-template *ngIf="usuario.grupoExperimento != 4">
        <button
          type="button"
          (click)="listarSubmissao()"
          pButton
          label="Visualizar resposta"
          lass="ui-button-secondary"
        ></button>
      </ng-template> -->
      <!--
      <button type="button" (click)="enviarErroEditor()" pButton label="Há um problema no Editor?"
        lass="ui-button-danger"></button>-->

      <!-- <ng-template *ngIf="usuario.grupoExperimento != 4">
         <button type="button" onclick="TogetherJS(this); return false;" pButton label="Responder Em Grupo"></button>
      </ng-template> -->
    </div>
  </div>
  <div class="p-grid" style="margin: 10px 10px 10px 10px">
    <div class="p-col-3">
      <dados-questao [questao]="questao" [submissao]="submissao" id="dadosQuestao"></dados-questao>
      <ng-container *ngIf="usuario.grupoExperimento != 4">
        <app-card-erros-programacao-pizza
          [erros]="errosEstudante"
        ></app-card-erros-programacao-pizza>
      </ng-container>
    </div>

    <div class="p-col-9">
      <div class="p-grid">
        <div class="p-col-12">
          <app-editor-programacao
            id="editorProgramacao"
            [modoVisualizacao]="modoVisualizacao"
            [submissao]="submissao"
            [questao]="questao"
            [assunto]="assunto"
            (onError)="onEditorError($event)"
            (onVisualization)="onVisualization($event)"
            (onServidorError)="onServidorError($event)"
            (onSubmit)="onEditorSubmit($event)"
          >
          </app-editor-programacao>
          <div *ngIf="modoVisualizacao == false" style="margin-top: 10px">
            <app-console [submissao]="submissao" [consoleEditor]="consoleEditor"></app-console>
          </div>
        </div>
      </div>
    </div>
    <!-- PRECISA VER SE HAVERÁ ESSA COLUNA NO EDITOR. ELA SÓ FAZ SENTIDO EXISTIR POR CONTA DA VISUALIZAÇÃO DE ALGORITMOS, VER OUTRO LUGAR PARA COLOCAR.
    <div class="p-col-3">
      <div *ngIf="modoVisualizacao  == false; else visualizacao">
        <app-visualizar-testes [testsCases]="questao.testsCases"
              [submissao]="submissao">
            </app-visualizar-testes>
      </div>
      <ng-template #visualizacao>
        <visualizar-execucao [traceExecucao]="traceExecucao" (mudancaLinha)="atualizarLinhaEditor($event)">
        </visualizar-execucao>
      </ng-template>
    </div>
    -->
  </div>
</div>

<ng-template #loading>Carregando questão...</ng-template>

<p-dialog header="Indique o motivo do pedido de ajuda (dúvida):" [(visible)]="dialogPedirAjuda">
  <span class="ui-float-label">
    <textarea pInputTextarea autoResize="autoResize" [cols]="44" [(ngModel)]="duvida"></textarea>
    <label for="float-input">Digite o motivo</label>
  </span>
  <button
    type="button"
    pButton
    icon="pi pi-check"
    (click)="dialogPedirAjuda = false; enviarPedidoDeAjuda()"
    label="Enviar"
  ></button>
  <button
    type="button"
    pButton
    icon="pi pi-close"
    (click)="dialogPedirAjuda = false"
    label="Cancelar"
    class="ui-button-secondary"
  ></button>
</p-dialog>
