<p-toast></p-toast>
<chat-widget></chat-widget>

<div *ngIf="questao != null; else loading">
  <app-chat *ngIf="this.atividadeGrupo != null" [atividadeGrupo]="atividadeGrupo" [grupo]="grupo"></app-chat>

  <div class="p-grid" style="margin: 10px 10px 10px 10px">
    <app-breadcrumb-assunto [assunto]="assunto" [questao]="questao" *ngIf="atividadeGrupo == null">
    </app-breadcrumb-assunto>


    <!--
    <div class="p-mb-12">


      <button type="button" (click)="enviarErroEditor()" pButton label="Há um problema no Editor?"
        lass="ui-button-danger"></button>
    </div>

  </div>-->
    <div class="p-col-12">
      <div class="p-grid">
        <div class="p-col-4">
          <div class="p-grid">
            <div class="p-col-12">
              <div class="p-grid">
                <div class="p-col-12">
                  <button type="button" (click)="visualizarPlanejamento()" pButton label="Visualizar planejamento"
                    class="p-button-help" *ngIf="atividadeGrupo == null && usuario.grupoExperimento != 4"></button>
                  <app-btn-avancar-questao style="margin-left:5px" [assunto]="assunto" [questao]="questao"
                    *ngIf="atividadeGrupo == null">
                  </app-btn-avancar-questao>
                </div>
                <div class="p-col-4">


                </div>
              </div>
            </div>
            <div class="p-col-12">
              <dados-questao [assunto]="assunto" [questao]="questao" [submissao]="submissao" id="dadosQuestao">
              </dados-questao>
              <div id="testsCases">
                <app-visualizar-testes [questao]="questao" [submissao]="submissao"
                  *ngIf="apresentarTestesCases == true"></app-visualizar-testes>
              </div>

            </div>
            <div class="p-col-12">
              <ng-container *ngIf="usuario.grupoExperimento != 4">

                <app-card-erros-programacao-pizza [erros]="errosEstudante"></app-card-erros-programacao-pizza>
              </ng-container>
            </div>
          </div>

        </div>

        <div class="p-col-8">

          <app-ide [isMudancaEditorPermitida]="isMudancaEditorPermitida" [submissao]="submissao"
            [modoExecucao]="modoExecucao" [questaoCorrecao]="questaoCorrecao" [grupo]="grupo"
            [atividadeGrupo]="atividadeGrupo" [questao]="questao" [questaoColaborativa]="questaoColaborativa"
            [assunto]="assunto" (onEditorError)="onEditorError($event)" (onEditorSubmit)="onEditorSubmit($event)">
          </app-ide>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>Carregando questão...</ng-template>

<p-dialog header="Indique o motivo do pedido de ajuda (dúvida):" [(visible)]="dialogPedirAjuda">
  <span class="ui-float-label">
    <textarea pInputTextarea [cols]="44" [(ngModel)]="duvida"></textarea>
    <label for="float-input">Digite o motivo</label>
  </span>
  <button type="button" pButton icon="pi pi-check" (click)="dialogPedirAjuda = false; enviarPedidoDeAjuda()"
    label="Enviar"></button>
  <button type="button" pButton icon="pi pi-close" (click)="dialogPedirAjuda = false" label="Cancelar"
    class="ui-button-secondary"></button>
</p-dialog>
