::ng-deep .introjs-skipbutton{
    visibility: hidden !important;
    }
    ::ng-deep .introjs-donebutton{
    visibility: visible !important;
    }
h1 {
    font-size: 50px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #fff;
    font-family: arial;
    text-align: center;
    font-size: 75px;
    margin: center
}

.ui-menu .ui-menuitem-link:hover, body .ui-menubar .ui-menuitem-link:hover, body .ui-tieredmenu .ui-menuitem-link:hover, body .ui-contextmenu .ui-menuitem-link:hover, body .ui-megamenu .ui-menuitem-link:hover, body .ui-slidemenu .ui-menuitem-link:hover{
    background-color: #0d476e !important;
    height: 100%;
}

/* .ui-g-1 {
    width: 8.3333%;
    display: none;
} */
