<div>
      <p-menubar [model]="itens"></p-menubar>
</div>

      

       <div class="ui-g"> 
            <div class="ui-g-1"></div> 
            <div class="ui-g-10">
                  <app-pre-teste [visibilidade]="visibilidadeDialog"></app-pre-teste>
                  <router-outlet name="principal"></router-outlet>
          </div>
            <div class="ui-g-1"></div>
      </div>

    
    
     
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    
