
body{
    background-color: blue !important ;
}

h1 {
    font-size: 50px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #fff;
    font-family: arial;
    text-align: center;
    font-size: 75px;
    margin: center
}




