<p-toast [style]="{marginTop: '80px'}"></p-toast>
<h1>Turmas</h1>

<div class="ui-g">
    <div class="ui-g-10"></div>
    <div class="ui-g-2">
        <!--<button pButton label="Cadastrar" (click)="cadastrar()"></button> -->
    </div>
</div>

<p-table [value]="turmas"  [(contextMenuSelection)]="selectedTurma" [contextMenu]="cm">
    <ng-template pTemplate="body" let-rowData let-turma>
        <tr [pContextMenuRow]="rowData">
            <td style="cursor: pointer;"> <a (click)="visualizarTurma(turma)">{{turma.nome}}</a> </td>
        </tr>
   </ng-template>
</p-table> 

<p-contextMenu #cm [model]="items"></p-contextMenu>   
