<p-dialog header="Vamos planejar sua rotina de estudos para essa semana?" [(visible)]="display" [style]="{ width: '900px' }" [modal]="true"
  [closable]="false">
  <p-toast></p-toast>
  <div class="p-grid" *ngIf="isPrimeiraSemana == false">
    <div class="p-col-7">
      <h3>Como foi a última semana de estudos?</h3>
    </div>
  </div>

  <div class="p-grid" *ngIf="isPrimeiraSemana == false">
    <div class="p-col-12">
      <div class="p-grid">
        <div class="p-col-12">
          <strong>Dica:</strong>{{hintReflexao.texto}}
        </div>
        <div class="p-col-6">
          <p-checkbox [binary]="true" value="true" label="Preciso buscar novas formas de estudar" [(ngModel)]="diario.reflexao.buscarNovasFormasEstudos"></p-checkbox>
          <p-checkbox [binary]="true"value="true"  label="O tempo que dediquei não foi suficiente" [(ngModel)]="diario.reflexao.dedicarMaisTempo"></p-checkbox>
          <p-checkbox [binary]="true" value="true" label="Minhas metas não foram realistas" [(ngModel)]="diario.reflexao.metasRealistas"></p-checkbox>
        </div>
        <div class="p-col-6">
          <p-checkbox [binary]="true" value="true"  label="Preciso mudar meu horário de estudo" [(ngModel)]="diario.reflexao.mudarHorarioEstudos"></p-checkbox>
          <p-checkbox [binary]="true" value="true"  label="Preciso reduzir minhas distrações" [(ngModel)]="diario.reflexao.reduzirDistracoes"></p-checkbox>
          <p-checkbox [binary]="true" value="true"  label="Estou com dificuldades e irei rever os materais de aula" [(ngModel)]="diario.reflexao.reverMaterialAula"></p-checkbox>
        </div>
      </div>


      <!-- <textarea [rows]="5" [cols]="50" pInputTextarea [(ngModel)]="diario.reflexao"></textarea><br>
      {{contagemCaracteres(diario.reflexao)}} caracteres faltando. Fique à vontade para escrever mais :) -->
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-8">
      <h3>Quantas horas nessa semana você pretende dedicar-se ao curso?</h3>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-6" style="margin: 20px 0 20px 0">
      <p-slider [(ngModel)]="diario.tempoEstudo" [min]="1" [max]="20"></p-slider>
    </div>
    <div class="p-col-1">{{ diario.tempoEstudo }} horas</div>
  </div>

  <div class="p-grid">
    <div class="p-col-7">
      <h3>Quantos exercícios espera completar por semana?</h3>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-7">
      <p-dropdown [options]="niveisObjetivosExercicios" [(ngModel)]="diario.objetivoExercicio"></p-dropdown>
    </div>
    <div class="p-col-3"></div>
  </div>



  <div class="p-grid">
    <div class="p-col-7">
      <h3>
        Até o momento, como você avalia o seu nível de confiança com o aprendizado de programação?
      </h3>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-8">
      <p-dropdown [options]="niveisConfianca" [(ngModel)]="diario.nivelConfianca"></p-dropdown>
    </div>

  </div>

  <div class="p-grid">
    <div class="p-col-8">
      <h3>Qual a sua motivação com o aprendizado de programação?</h3>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-8">
      <p-dropdown [options]="motivacao" [(ngModel)]="diario.motivacao"></p-dropdown>
    </div>
  </div>

  <div class="p-grid" style="margin-top: 10px;">
    <div class="p-col-2">
      <button pButton type="button" (click)="salvar()" label="Salvar"></button>
    </div>
    <div class="p-col-6"></div>
  </div>
</p-dialog>
