<h2>Questões Programação</h2>

<p-toast [style]="{marginTop: '80px'}"></p-toast>



<p-table [value]="assunto?.questoesProgramacao" [(contextMenuSelection)]="selectedQuestao" [contextMenu]="cm">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-questao>
        <tr [pContextMenuRow]="rowData">
            <td (click)="responder(questao)">{{questao.nomeCurto}}</td>
        </tr>
    </ng-template>
</p-table>

<p-contextMenu #cm [model]="items" *ngIf="usuario.perfil == 3"></p-contextMenu>





