 <h2>Algoritmos de outros estudantes</h2> 

 <p-messages [(value)]="msgs"></p-messages>

<p-table [value]="submissoesDaQuestao">
    <ng-template pTemplate="header">
        <tr>
            <th>#</th>
            <th>Visualizar Resposta</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-submissao let-i="rowIndex">
        <tr [pContextMenuRow]="rowData">
            <td (click)="visualizarSubmissao(submissao)">{{i}}</td>
            <button pButton  (click)="visualizarSubmissao(submissao)">Visualizar</button>
        </tr>
    </ng-template>
</p-table>




