
<p-toast [style]="{marginTop: '80px'}"></p-toast>


<p-card title="Lista das Questoes com alternativas">
    <p-card>
        <p-table [value]="questoes"  [(contextMenuSelection)]="selectedQuestao" [contextMenu]="cm">
            <ng-template pTemplate="header">
                <tr>
                    <th>Questões Fechadas</th>
                    <th>Você respondeu</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-questao let-resposta>
                <tr [pContextMenuRow]="rowData">
                    <td (click)="visualizar(questao)">{{questao.nomeCurto}}</td>
                    <td ><button  pButton type="button" label="{{questao.respostaUsuario}}" (click)="visualizar(questao)" class="ui-button-rounded ui-button-success"></button></td>
               </tr>
            </ng-template>
        </p-table>
    </p-card>
</p-card>




 <p-contextMenu #cm [model]="items" ></p-contextMenu> 




