<p-toast [style]="{marginTop: '80px'}"></p-toast>

<div *ngIf="respostasAluno != undefined">

    <p-table id="tabelaQuestoesFechadas" [value]="assunto.questoesFechadas" [(contextMenuSelection)]="selectedQuestao" [contextMenu]="cm">
        <ng-template pTemplate="header">
            <tr>
                <th>Ação</th>
                <th>Questões Fechadas</th>

                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-questao let-resposta let-i="rowIndex">
            <tr [pContextMenuRow]="rowData">
                <td><button [disabled]="respostasAluno[i] == false" pButton type="button" label="Responder"
                        (click)="visualizar(questao)" class="ui-button-rounded ui-button-success"></button></td>

                <td (click)="visualizar(questao)" style="cursor: pointer">{{questao.nomeCurto}}</td>
                <td>
                    <span *ngIf="respostasAluno[i] == 'Responder' else status">Falta responder</span>
                    <ng-template #status>{{respostasAluno[i]?"Correto":"Incorreto"}}</ng-template>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>



<p-contextMenu #cm [model]="items"></p-contextMenu>