
<p-toast></p-toast>

<div class="container">

  <div class="login-section">
          
<div class="p-grid form">
  <div class="p-col-12 row-title"> Por favor, digite o código da sua turma para prosseguir</div>
  
  <div class= "container-painel">

    
     <div class="p-col-12">
         <span class="ui-float-label">
           <input id="codigo-turma"  [(ngModel)]= "codigo" type="text" size="6" pInputText>
           <label>Nº da turma</label>
         </span>
     </div>
     
       <div class="p-col-12">
         <button> Salvar</button>
          <!-- <button pButton type="button" label="Click" (click)="cadastrar()"></button>
          <p-button label="Click" (onClick)="cadastrar()"></p-button> -->
          
         <!-- <button  id= " codigo" pButton type="button" label="Salvar" (click)="cadastrar()" class="ui-button-raised "></button> -->
       </div>
   </div>


  </div>

</div>

















