<div class="p-grid" style="margin: 10px 10px 10px 10px">
  <div class="p-col-12" style="background-color: #B5E0F9">
    <button type="button" (click)="executar()" pButton label="Executar"
      *ngIf="!modoVisualizacao && this.questao != undefined" icon="pi pi-play" iconPos="left"
      class="ui-button-success"></button>
    <button type="button" (click)="voltarParaModoExecucao()" pButton label="Voltar ao modo execução"
      *ngIf="modoVisualizacao"></button>
    <button type="button" (click)="visualizarExecucacao()" pButton label="Vizualizar execução"
      *ngIf="!modoVisualizacao && this.questao != undefined" lass="ui-button-secondary"></button>
    <button type="button" (click)="listarSubmissao()" pButton label="Visualizar resposta"
      lass="ui-button-secondary"></button>
    <!-- <button type="button" (click)="visualizarCodigoSimilar(questao)" pButton
      label="Visualizar exemplo de código"></button>
  </div> -->
</div>
<div class="p-grid" style="margin: 10px 10px 10px 10px">


  <div class="p-col-3">
    <dados-questao [questao]="questao"></dados-questao>
  </div>

  <div class="p-col-6">
    <div class="p-grid">
      <div class="p-col-12">
        <div id="container" style="height:600px;border:1px solid grey; position:relative;"></div>
        <div *ngIf="modoVisualizacao==false" style="margin-top:10px;">
          <app-visualizar-testes *ngIf="questao != undefined" [testsCases]="questao.testsCases" [submissao]="submissao">
          </app-visualizar-testes>

        </div>
      </div>
    </div>

  </div>

  <div class="p-col-3">

    <div class="saida" style="min-height:80%;">
      <div style="background-color:#F8E6E0;" *ngIf="modoVisualizacao==false">
        <span [innerHTML]="erroLinguagemProgramacao" style="padding:20px;"></span>

      </div>
      <div *ngIf="modoVisualizacao  == true" >
        <visualizar-execucao [traceExecucao]="traceExecucao" (mudancaLinha)="atualizarLinhaEditor($event)">
        </visualizar-execucao>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Indique o motivo do pedido de ajuda(dúvida):" [(visible)]="dialogPedirAjuda">

  <span class="ui-float-label">
    <textarea pInputTextarea autoResize="autoResize" [cols]="44" [(ngModel)]="duvida"></textarea>
    <label for="float-input">Digite o motivo</label>
  </span>
  <button type="button" pButton icon="pi pi-check" (click)="dialogPedirAjuda=false; enviarPedidoDeAjuda();"
    label="Enviar"></button>
  <button type="button" pButton icon="pi pi-close" (click)="dialogPedirAjuda=false;" label="Cancelar"
    class="ui-button-secondary"></button>

</p-dialog>