<h3>
  <p>{{ estudante.nome }}</p>
</h3>
<p-toast [style]="{ marginTop: '80px' }"></p-toast>

<h4>Analytics</h4>
<!-- <app-dados-estudante [estudante]="estudante"></app-dados-estudante>
 -->
<p-table [value]="planejamentos">
  <ng-template pTemplate="header">
    <tr>
      <th>Assunto</th>
      <th>Questão</th>
      <th>Sequência</th>
      <th>Qual o problema?</th>
      <th>Quais as variáveis?</th>
      <th>Quais as condições?</th>
      <th>Quais as repetições?</th>
      <!-- <th>Saída algoritmo</th> -->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-planejamento>
    <tr [pContextMenuRow]="rowData">
      <td>{{ planejamento.questao.assunto }}</td>
      <td>{{ planejamento.questao.enunciado }}</td>
      <td>{{ planejamento.questao.sequencia }}</td>
      <td>{{ planejamento.autoInstrucao.problema }}</td>
      <td>{{ planejamento.autoInstrucao.variaveis }}</td>
      <td>{{ planejamento.autoInstrucao.condicoes }}</td>
      <td>{{ planejamento.autoInstrucao.repeticoes }}</td>
    </tr>
  </ng-template>
</p-table>
<!--
<app-grafo-estudantes [pageTracks]="pageTracks"></app-grafo-estudantes> -->
<!-- <app-revisao-codigo [estudante]="estudante"></app-revisao-codigo> -->