<h3>
  <p>{{ estudante.nome }}</p>
</h3>
<p-toast [style]="{ marginTop: '80px' }"></p-toast>

<h4>Analytics</h4>
<!-- <app-dados-estudante [estudante]="estudante"></app-dados-estudante>

<p-table [value]="planejamentos">
  <ng-template pTemplate="body" let-rowData let-planejamento>
    <tr [pContextMenuRow]="rowData">
      <td>{{ planejamento.questao }}</td>
      <td>{{ planejamento.autoInstrucao.problema }}</td>
      <td>{{ planejamento.autoInstrucao.variaveis }}</td>
      <td>{{ planejamento.autoInstrucao.condicoes }}</td>
    </tr>
  </ng-template>
</p-table> -->

<app-grafo-estudantes [estudante]="estudante"></app-grafo-estudantes>
<app-revisao-codigo [estudante]="estudante"></app-revisao-codigo>