<div *ngIf="possuiSubmissoes == true">
  <h1>Seu desempenho em programação</h1>

  <!--
        <div class="p-grid">
            <div class="p-col-6">
                <app-card-desempenho *ngIf="errorQuotient != null" [errorQuotient]="errorQuotient" >
                </app-card-desempenho>
            </div>
            <div class="p-col-6">
                <card-risco-estudante *ngIf="errorQuotient != null" [errorQuotient]="errorQuotient">
                </card-risco-estudante>
            </div>
        </div>
         -->
</div>

<div class="p-grid">
  <div class="p-col-3">
    <app-card-erros-programacao-doughnut [erros]="erros"></app-card-erros-programacao-doughnut>
  </div>
  <div class="p-col-3">
    <app-card-historico-erros *ngIf="erros != undefined" [erros]="erros">
    </app-card-historico-erros>
  </div>
  <div class="p-col-6" *ngIf="erros != undefined">
    <app-analise-desempenho-estudante [erros]="erros"></app-analise-desempenho-estudante>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-3">
    <h2>Progresso nos assuntos</h2>
    <app-desempenho-assuntos></app-desempenho-assuntos>
  </div>
  <div class="p-col-5"></div>
</div>
