<div *ngIf="respostas == null || respostas.submissoes == null">
  <h3>Ainda não há dados para apresentar o seu progresso.</h3>
</div>
<h1>Seu desempenho em programação</h1>

<div class="p-d-flex p-flex-column p-flex-md-row">
  <div class="p-mb-4 p-mr-4">
    <app-card-desempenho [respostas]="respostas" [assuntos]="assuntos"></app-card-desempenho>
  </div>
  <div class="p-mb-8 p-mr-8">

    <app-desempenho-metricas></app-desempenho-metricas>
  </div>
</div>

<div class="p-d-flex p-flex-column p-flex-md-row">
  <div class="p-mb-4 p-mr-4">
    <app-card-erros-programacao-doughnut [erros]="erros"></app-card-erros-programacao-doughnut>
  </div>
  <div class="p-mb-4 p-mr-4">
    <app-card-historico-erros *ngIf="erros != undefined" [erros]="erros">
    </app-card-historico-erros>
  </div>
  <div class="p-mb-4 p-mr-4" *ngIf="erros != undefined">
    <app-analise-desempenho-estudante [erros]="erros"></app-analise-desempenho-estudante>
  </div>
</div>