<div *ngIf="planejamento != null">
  <div class="p-grid">
    <div class="p-col-4"></div>
    <div class="p-col-4">
      <p-table [value]="assuntos">
        <ng-template pTemplate="header">
          <tr>
            <th>Assunto</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-assunto let-i="rowIndex">
          <tr id="assunto{{ i }}">
            <td (click)="abrirAssunto(assunto)" style="cursor: pointer">{{ assunto.nome }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- <div class="p-grid" *ngIf="planejamento.assunto != null">
        <div class="p-col-2"></div>
        <div class="p-col-8">
            <h1>{{planejamento.assunto.nome}}</h1>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-2"></div>
        <div class="p-col-8">
            <app-monitorar-planejamento [planejamento]="planejamento"></app-monitorar-planejamento>
        </div>
    </div>

    <div class="p-grid" *ngIf="planejamento.assunto != null">
        <div class="p-col-2"></div>
        <div class="p-col-8">
            <app-visualizar-assunto [assunto]="planejamento.assunto"></app-visualizar-assunto>
        </div>
    </div> -->

  <!-- <div>






    <p *ngIf="planejamento.assunto.objetivosEducacionais.length > 0">
      Os objetivos educacionais desse assunto são: <span
        *ngFor="let objetivo of planejamento.assunto.objetivosEducacionais">{{objetivo}}</span>
    </p>


  </div> -->
  <!-- <button *ngIf="isFinalizado" pButton label="Revisar progresso" (click)="iniciarAutoReflexao()"></button> -->
</div>
