<div id="descricaoQuestao">
  <h4>Título</h4>
  <p>{{ questao?.nomeCurto }}</p>

  <h4>Enunciado</h4>
  <p>{{ questao?.enunciado }}</p>
</div>
<div id="testsCases">
  <h4>Testscases</h4>

  <p-table [value]="questao?.testsCases">
    <ng-template pTemplate="header">
      <tr>
        <th>Entradas</th>
        <th>Saída esperada</th>
        <th>Status</th>
        <!-- <th>Saída algoritmo</th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-testCase let-i="rowIndex">
      <tr>
        <td>
          <app-apresentacao-entradas-testcase [entradas]="testCase.entradas">
          </app-apresentacao-entradas-testcase>
        </td>
        <td [innerHTML]="apresentarSaidas(testCase.saida)"></td>
        <td>
          <span *ngIf="submissao != null">
            {{ testCase.resultado.status == true ? 'Correto' : 'Incorreto' }}
          </span>
        </td>
        <!--   <td>
          <div *ngIf="submissao != null">
            <span *ngFor="let resposta of testCase.resultado.respostaAlgoritmo">
              {{ resposta }}<br />
            </span>
          </div>
        </td> -->
      </tr>
    </ng-template>
  </p-table>
</div>
