<p-toast [style]="{marginTop: '80px'}" [showTransitionOptions] = "'10ms'" [hideTransitionOptions] = "'10ms'"></p-toast>
<div style="margin-left: auto;margin-right: auto;width: 30em">


  <div *ngIf="!isAlterar">
    <h1 class="first">Cadastro de assunto</h1>
  </div>

  <div *ngIf="isAlterar">
    <h1 class="first">alterar assunto </h1>
  </div>

  <h3 class="first">Nome </h3>
  <input id ="nome" type="text" [(ngModel)]="assunto.nome" pInputText/> 

  <br/>
  <br/>
  
  <div *ngIf="!isAlterar">
    <button pButton type="button" label="Cadastrar Assunto" (click)="cadastrarAssunto()" ></button>
    
  </div>

  <div *ngIf="isAlterar">
    <button pButton type="button" label="Alterar Assunto" (click)="cadastrarAssunto()" ></button>
   
  </div>

</div>
