
<h2>Resposta similar da questão</h2>

<h3 class="first">Selecione a questão</h3>
<p-table [value]="assuntos" dataKey="questoesProgramacao">
    <ng-template pTemplate="header">
        <tr>
            <th>Assuntos</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded" let-columns="columns">
        <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.questoesProgramacao].index === rowIndex">
            <td colspan="3">
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
                    <span >{{rowData.nome}}</span>
                </a>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-assunto let-rowIndex="rowIndex">
       
        <tr> 
            <p-radioButton *ngFor="let questao of assunto.questoesProgramacao" class= "alternativa" name="{{questao.nomeCurto}}" value= "{{questao.id}}"

            [(ngModel)]="modeloRespostaQuestao.questao" label="{{questao.nomeCurto}}" inputId= "{{questao.id}}"></p-radioButton>
          
        </tr>
    </ng-template>
</p-table>

<h3>Digite o código:</h3>
<textarea [rows]="40" [cols]="80" pInputTextarea autoResize="autoResize" [(ngModel)]="modeloRespostaQuestao.codigo" ></textarea>

<br>
<button type="text" (click)="salvar()" pButton icon="pi pi-check" class="ui-button-success"label="Salvar"></button>


