
  /* You can add global styles to this file, and also import other style files  */
 .cabecalho{
    font-size: 26pt;
    font-weight: bold;
}

.erro {
    background: #F5A9A9 !important;
    cursor: pointer;
    font-weight: bold;
}
.possivelSolucao {
    background: #A9F5A9 !important;
    cursor: pointer;
    font-weight: bold;
}

.saida {
    border:1px solid black;
    background-color: moccasin;
    width:100%;
    height: 80%;
    padding: 10px;
    
}


.barra-progresso .ui-progressbar .ui-progressbar-value{
    background-image: linear-gradient(to right, green , red); /* Standard syntax (must be last) */
    
   } 

body{
    margin:0px;
} 


/* h1 {
    text-align: center;
    font: italic small-caps bold 24px/0px "Comic Sans MS", cursive, sans-serif;
    color: gray;
  } */

  h1 {
    text-align: center;
    font-weight: 500;
    color: #434343;
    font-family: Arial;
}