/* You can add global styles to this file, and also import other style files  */
@import  "~primeicons/primeicons.css";

.cabecalho {
  font-size: 26pt;
  font-weight: bold;
}

.highlight {background-color: #f5a9a9}

.erro {
  background: #f5a9a9 !important;
  cursor: pointer;
  font-weight: bold;
}

.linhaErro {
  background: #f5a9a9 !important;
  cursor: pointer;
  font-weight: bold;
}

.possivelSolucao {
  background: #a9f5a9 !important;
  cursor: pointer;
  font-weight: bold;
}

.limpar {
  background: #ffffff !important;
}

.saida {
  border: 1px solid grey;
  width: 100%;
  height: 80%;
  padding: 10px;
}

.barra-progresso .ui-progressbar .ui-progressbar-value {
  background-image: linear-gradient(to right, green, red); /* Standard syntax (must be last) */
}

body {
  margin: 0px;
}

/* h1 {
    text-align: center;
    font: italic small-caps bold 24px/0px "Comic Sans MS", cursive, sans-serif;
    color: gray;
  } */

h1 {
  text-align: center;
  font-weight: 500;
  color: #434343;
  font-family: Arial;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.my-cursor {
  background: pink;
  width: 4px !important;
}