<div *ngIf="subsecao != null;">
  <div>{{subsecao.sequencia}}</div>

  <div *ngFor="let conteudo of subsecao.conteudos">
    <div *ngIf="conteudo.tipo == 1">
      <app-visualizacao-texto [texto]="conteudo"></app-visualizacao-texto>
    </div>
    <div *ngIf="conteudo.tipo == 2">
      <app-responder-questao-programacao-lite [assunto]="subsecao.assunto" [questao]="conteudo">
      </app-responder-questao-programacao-lite>
    </div>
    <div *ngIf="conteudo.tipo == 3">
      <app-visualizar-questao-fechada [questao]="conteudo"></app-visualizar-questao-fechada>
    </div>
  </div>
  <div *ngIf="secao != null">
      <app-navegador-subsecao [subsecao]="subsecao" [subsecoes]="secao.subsecoes"></app-navegador-subsecao>
  </div>
  
</div>