oie
<div *ngIf="subsecao$ | async as subsecao; else loading">
  <div>Olá {{subsecao.sequencia}}</div>

  <div *ngFor="let sequencia of subsecao.sequencias">
    <div *ngIf="sequencia.tipo == 1">
      <app-visualizacao-texto [texto]="sequencia.objeto"></app-visualizacao-texto>
    </div>
    <div *ngIf="sequencia.tipo == 2">
        <app-responder-questao-programacao-lite [assunto]="assunto" [questao]="sequencia.objeto"></app-responder-questao-programacao-lite>
    </div>
    <div *ngIf="sequencia.tipo == 3">
      <app-visualizar-questao-fechada [questao]="sequencia.objeto"></app-visualizar-questao-fechada>
    </div>
  </div>

</div>

<ng-template #loading>Carregando...</ng-template>