<div *ngIf="subsecao$ | async as subsecao; else loading">
  <div>{{subsecao.sequencia}}</div>

  <div *ngFor="let conteudo of subsecao.conteudos">
    <div *ngIf="(conteudo | typeof) == 'Texto'" class="conteudo">
      <app-visualizacao-texto [texto]="conteudo"></app-visualizacao-texto>
    </div>
    <div *ngIf="(conteudo | typeof) == 'Questao'" class="conteudo">
      <app-responder-questao-programacao-lite [assunto]="assunto" [questao]="conteudo">
      </app-responder-questao-programacao-lite>
    </div>
    <div *ngIf="(conteudo | typeof) == 'QuestaoFechada'" class="conteudo">
      <app-visualizar-questao-fechada [questao]="conteudo"></app-visualizar-questao-fechada>
    </div>
  </div>
  <div *ngIf="secao != null">
      <app-navegador-subsecao [subsecao]="subsecao" [subsecoes]="secao.subsecoes"></app-navegador-subsecao>
  </div>
  
</div>

<ng-template #loading>Carregando...</ng-template>