.p-scrollpanel {
    p {
        padding: .5rem;
        line-height: 1.5;
        margin: 0;
    }

    &.custombar1 {
        .p-scrollpanel-wrapper {
            border-right: 9px solid var(--layer-1);
        }

        .p-scrollpanel-bar {
            background-color: var(--primary-color);
            opacity: 1;
            transition: background-color .2s;

            &:hover {
                background-color: #007ad9;
            }
        }
    }
}

.p-scrollpanel-bar {
    background-color: #007ad9 !important; 
    opacity: 1;
    transition: background-color .2s;

    &:hover {
        background-color: #007ad9;
    }
}