<p-dialog header="Estratégias de aprendizagem" [(visible)]="visibilidadeQuestionario" [modal]="true" [closable]="false"
  [style]="{width: '1200px'}">
  <div style="margin: 10px 0px 10px 0px">
    Antes de começar, iremos fazer algumas perguntas para conhecê-lo melhor. O objetivo é oferecer uma melhor experiência de aprendizagem ao longo do curso.
    Não há respostas certas ou erradas, e você deve respondê-las de acordo com suas convicções.
  </div>
  <p>São 22 afirmações e leva aproximadamente 5 minutos para responder.</p>
  <div style="margin: 10px 0px 10px 0px">
    Use a escala de 1 a 5 para responder as perguntas, se você acha que a afirmação é muito verdadeira para você, marque
    5; se você entender que a afirmação não é verdadeira para você, marque 1. Se a declaração é mais ou menos verdade
    para você, procure entre 1 e 5 aquele que que melhor descreve você.
  </div>

  <div style="margin: 0px 0px 10px 0px">

  </div>
  <div style="margin: 10px 0px 10px 0px">
    <span style="font-weight: bold">Atenção:</span> antes de utilizar a plataforma é preciso respondê-las.
  </div>
  <p-scrollPanel [style]="{width: '100%', height: '400px', backgroundColor: '#dbdbdb'}" styleClass="custombar1" id="scroll">
    <div class="p-grid">
      <div class="p-col-12">
        <h3>1. Quando eu estudo para uma avaliação, tento reunir as informações da sala de aula e dos livros.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta1"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta1"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta1"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta1"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta1"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>


    <div class="p-grid">
      <div class="p-col-12">
        <h3>2. Quando faço tarefas de casa, eu tento lembrar o que o professor falou em sala de aula para assim responder corretamente as questões.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta2"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta2"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta2"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta2"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta2"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>3. Para mim é difícil compreender quais são as principais ideias em um texto que li.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta3"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta3"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta3"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta3"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta3"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>4. Quando estudo, ponho as ideias importantes em minhas próprias palavras.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta4"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta4"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta4"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta4"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta4"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>5. Sempre busco entender o que o professor está dizendo, mesmo que isto não faça sentido.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta5"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta5"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta5"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta5"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta5"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>6. Quando estudo para uma avaliação, tento me lembrar do máximo de conceitos que posso.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta6"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta6"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta6"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta6"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta6"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>


    <div class="p-grid">
      <div class="p-col-12">
        <h3>7. Quando estou estudando, faço minhas anotações para me lembrar do assunto.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta7"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta7"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta7"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta7"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta7"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>8. Quando estudo para uma prova, pratico dizendo repetidamente os conceitos importantes para mim mesmo.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta8"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta8"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta8"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta8"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta8"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>9. Para fazer novas tarefas, uso o que aprendi com antigas tarefas de casa e livros.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta9"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta9"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta9"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta9"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta9"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>10. Quando estou estudando um assunto, tento fazer com que tudo faça sentido.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta10"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta10"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta10"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta10"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta10"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>11. Quando leio um material para uma disciplina, repito as palavras várias vezes para mim mesmo, para me ajudar a lembrar.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta11"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta11"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta11"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta11"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta11"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>12. Faço tópicos dos textos do meu livro para me ajudar a estudar.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta12"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta12"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta12"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta12"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta12"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>13. Quando estou lendo algo tento fazer conexões com outras coisas que já sei.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta13"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta13"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta13"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta13"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta13"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>14. Faço perguntas a mim mesmo para ter certeza que eu entendi o material de estudo.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta14"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta14"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta14"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta14"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta14"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>15. Quando o assunto na disciplina está difícil, eu desisto ou estudo somente as partes fáceis.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta15"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta15"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta15"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta15"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta15"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>16. Faço exercícios práticos e respondo as questões que se encontram no final do capítulo de um livro, mesmo quando não preciso.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta16"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta16"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta16"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta16"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta16"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>17. Mesmo quando o material de estudo está chato e desinteressante, eu administro isso para me manter estudando até terminar.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta17"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta17"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta17"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta17"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta17"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>18. Antes de iniciar um estudo, eu penso nas coisas que precisarei para o meu aprendizado.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta18"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta18"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta18"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta18"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta18"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>19. Frequentemente percebo que tenho estudado para esta matéria, porém sem compreender do que se tratava.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta19"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta19"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta19"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta19"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta19"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>20. Por vezes, quando o professor está falando, fico pensando em outras coisas e realmente não ouço o que está sendo dito.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta20"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta20"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta20"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta20"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta20"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>21. Quando estou lendo, paro de vez em quando e reviso o que li.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta21"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta21"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta21"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta21"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta21"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <h3>22. Eu trabalho duro para alcançar uma boa nota, mesmo que eu não goste da matéria.</h3>
      </div>
      <div class="p-col-2">
        
      </div>
      <div class="p-col-1">
       1 
      </div>
      <div class="p-col-1">
        2 
       </div>
       <div class="p-col-1">
        3
       </div>
       <div class="p-col-1">
        4
       </div>
       <div class="p-col-1">
        5
       </div>
       <div class="p-col-5">
        
       </div>
       <div class="p-col-2">
        Discordo completamente
      </div>
      <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="1" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta22"></p-radioButton> 
       </div>
       <div class="p-col-1">
        <p-radioButton name="afirmacaoUm" value="2" label=""
        [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta22"></p-radioButton> 
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="3" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta22"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="4" label=""
            [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta22"></p-radioButton>
        </div>
        <div class="p-col-1">
          <p-radioButton name="afirmacaoUm" value="5" label=""
          [(ngModel)]="respostasQuestionarioAutorregulacao.respostaPergunta22"></p-radioButton>
        </div>
        <div class="p-col-5">
         Concordo plenamente
        </div>
    </div>

    

  </p-scrollPanel>



  <p-footer>

    <button type="text" (click)="salvar()" pButton icon="pi pi-check" class="ui-button-success"
      label="Responder"></button>
  </p-footer>

</p-dialog>
