<ng-container *ngIf="mainVisible">
    <div class="wrapper {{theme}}">
        <!--MESSAGE WINDOW-->
        <div class="chat-box" *ngIf="visible" [@fadeInOut]="visible">
            <!-----------HEADER--------->
            <div class="chat-box-header">
                <chat-avatar [image]="monitor.avatar"></chat-avatar>
                <h3 class="operator-name">
                    {{monitor.name}}
                    <!--<button class="clean" (click)="cleanWindow()">Limpar</button>-->
                    <span class="info">
                        <span class="info-btn">i</span>
                        <span class="extra-info">
                            <br>Exemplos de perguntas
                            <br><br>Conceitos:
                            <br>- Como se declara uma variável?
                            <br>- Exemplo de uma instrução else?
                            <br>- O que é um TestCase?
                            <br>- Me diz o que é uma entrada?
                            <br><br>Exercício (perguntas com TestCases):
                            <br>- Me ajuda no exercício? (disponível depois de 2 min)
                            <br>- Me dá uma dica?
                            <br>- Sugestões de perguntas
                            <br><br>Erro:
                            <br>- Não entendo essa mensagem de erro
                            <br>- Que quer dizer com “Você declarou uma string, mas esqueceu incluir as duas aspas (abertura e fechamento)”
                        </span>
                    </span>
                    <p *ngIf="newMsgWarningVisible" class="new-messages">NOVAS MENSAGENS</p>
                </h3>
            </div>
            <!----------------------------->
            <!------------BODY (scroll)="myScrollFunction()"------------->
            <div class="chat-box-main" (scroll)="checkViewedMens()" #bottom>
                <!--<div class="chat-box-main" #bottom>-->
                <ng-container *ngFor="let message of messages">
                    <div class="chat-message" [class.chat-message-received]='message.direction === "received"' [@fadeIn]
                        [class.chat-message-sent]="message.direction === 'sent'">
                        <!--Typing dots-->
                        <div *ngIf="message.type === 'typing'" class="chat-message-typing">
                            <chat-typing></chat-typing>
                        </div>
                        <!--Avatar Icon-->
                        <chat-avatar [image]="message.from.avatar" class="chat-message-from-avatar"></chat-avatar>
                        <!--Text Message-->
                        <div *ngIf="message.type === 'text'" class="chat-message-text">{{message.text}}</div>
                        <!--Code Message-->
                        <div *ngIf="message.type === 'code'" class="chat-message-code">{{message.text}}</div>
                        <!--Code Result Message-->
                        <div *ngIf="message.type === 'print'" class="chat-message-print">{{message.text}}</div>
                        <!--Help Message-->
                        <div *ngIf="message.type === 'help'" class="chat-message-help">{{message.text}}</div>
                        <!--Buttons Message-->
                        <ng-container *ngIf='message.type === "buttons"'>
                            <div *ngFor="let btn of message.text">
                                <chat-buttons [titleBtn]="'Selecionar'" [btnLabel]="btn.title"
                                    [btnPayload]="btn.payload" (send)="sendMessage($event)"
                                    class="chat-message-buttons"></chat-buttons>
                            </div>
                        </ng-container>
                        <!--Order Buttons Message-->
                        <ng-container *ngIf='message.type === "buttons_order"'>
                            <div *ngFor="let btn of message.text">
                                <chat-buttons [titleBtn]="'Clica para selecionar opção'" [id]="btn[0]"
                                    [btnLabel]="btn[1]" [clicked]="btn[2]" class="chat-message-buttons-order">
                                </chat-buttons>
                            </div>
                        </ng-container>
                        <!--Show Date and Time-->
                        <div class="chat-message-date">
                            {{message.date | date: 'short'}}
                        </div>
                    </div>
                </ng-container>
            </div>
            <!----------------------------->
            <!--FOOTER (INPUT AND BUTTON)-->
            <div class="chat-box-footer">
                <chat-input (send)="sendMessage($event)" (dismiss)="toggleChat()"></chat-input>
            </div>
            <!----------------------------->
        </div>
        <!--CHATBOT BUTTON/AVATAR-->
        <button class="chat-button" (click)="toggleChat()">
            <div *ngIf="visible_intro" class='speech-bubble' [@fadeIn]="visible_intro">
                <h5>Olá! 👋 </h5>
                <p>Talvez ainda não me conheça! Passei só para dizer que se precisar de alguma ajuda (e.g, rever
                    conceito) estarei aqui para ajudar! 👾</p>
            </div>
            <span *ngIf="visible">✕</span>
            <img *ngIf="!visible" [attr.src]="botAvatar" class="chat-button-img" />
        </button>
    </div>
</ng-container>