<h1>Meus planejamentos de estudo</h1>

<p-dialog header="Planeje o seus estudos!" #dialogPlanejamento [style]="{width: '400px', height: '200px'}">
  <span style="font-weight: bold">Você sabia?</span> Para alcançar boas notas é fundamental planejar sua rotina de estudos.
  Você precisa conhecer o conteúdo que irá estudar, quanto tempo irá se dedicar e também refletir sobre como irá estudar (qual material vai utilizar para estudar, se fará sozinho ou em grupo, onde estudará, entre outras informações que possam ajudá-lo a orgnizar o seu ensino).  
</p-dialog>


<p-table [value]="planejamentos">
  <ng-template pTemplate="header">
      <tr>
          <th>Assunto</th>
          <th>Horas de estudo/semana</th>
          <th>Concluído</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-planejamento>
      <tr>
          <td><a (click)="abrirPlanejamento(planejamento)">{{planejamento.assunto.nome}}</a></td>
          <td>{{planejamento.tempoEstudo}} horas/semana</td>
          <td>{{planejamento.status?"Sim":"Não"}}</td>
      </tr>
  </ng-template>
</p-table>

<br><button pButton type="button" (click)="criarPlanejamento()" label="Novo" ></button>


