<p-toast [style]="{ marginTop: '80px' }"></p-toast>
<h1>Meu planejamento de estudo</h1>

<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-10">
    <button
      style="margin-bottom: 10px"
      pButton
      type="button"
      (click)="criarPlanejamento()"
      label="Novo"
      class="ui-button-success ui-button-raised"
      [disabled]="planejamentos.length > 0"
    ></button>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-10">
    <p-table
      [value]="planejamentos"
      [(contextMenuSelection)]="selectedPlanejamento"
      [contextMenu]="cm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Assuntos</th>
          <th>Meta semanal de horas de estudo</th>
          <th>Meta semanal de exercícios</th>
          <th>Meta para alcançar nota</th>
          <th>Estratégias de estudo</th>
          <th>Ações</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-planejamento let-i="rowIndex">
        <tr id="planejamento{{ i }}">
          <td>
            <app-desempenho-assuntos></app-desempenho-assuntos>
            <!-- <p-table [value]="assuntos">
              <ng-template pTemplate="body" let-assunto let-i="rowIndex">
                <tr id="assunto{{ i }}">
                  <td (click)="abrirAssunto(assunto)" style="cursor: pointer">
                    {{ assunto.nome }}
                  </td>
                </tr>
              </ng-template>
            </p-table> -->
          </td>
          <td><app-desempenho-objetivos-tempo-online></app-desempenho-objetivos-tempo-online></td>
          <td><app-desempenho-objetivos-exercicios></app-desempenho-objetivos-exercicios></td>
          <td><app-desempenho-objetivos-nota></app-desempenho-objetivos-nota></td>
          <td>{{ planejamento.estrategiaRealizacaoEstudo }}</td>
          <td>
            <button
              pButton
              type="button"
              (click)="deletar(planejamento)"
              label="Deletar"
              class="ui-button-danger ui-button-raised"
            >
              <i class="fas fa-backspace"></i>
            </button>
          </td>
          <!-- <td> <button pButton type="button" (click)="alterar(planejamento)" label="Atualizar" class= "ui-button-secondary ui-button-raised"> <i class="fas fa-edit"></i></button></td> -->
        </tr>
      </ng-template>
    </p-table>

    <p-contextMenu #cm [model]="items"></p-contextMenu>
  </div>
</div>

<p-dialog
  id="planejamentoDialog"
  [modal]="true"
  [(visible)]="visibilidadeDialogPlanejamento"
  header="Planeje o seus estudos!"
  #dialogPlanejamento
  [style]="{ width: '400px', height: '200px' }"
>
  <span style="font-weight: bold">Você sabia?</span> Para alcançar boas notas é fundamental planejar
  sua rotina de estudos. Você precisa conhecer o conteúdo que irá estudar, definir quanto tempo irá
  se dedicar e também refletir sobre como estudará (qual material vai utilizar para estudar, se fará
  sozinho ou em grupo, onde estudará, em qual horário, entre outras informações que possam ajudá-lo
  a organizar o seu aprendizado).
</p-dialog>
