.container {
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    word-wrap: break-word;
  }


  .left{
    float: left;
  }

  :host >>>   .p-card-title{
      font-size: 10px !important; 
  }

  :host >>>   .p-dialog-content{
    overflow:hidden !important; 
    height: 17vw;
}

  :host >>> .containerSelf .p-card{
    background: "#ffccdd";
  }

  :host >>> .containerOutro .p-card{
    background: "#ccccff";;
  }
