
<p-dialog [(visible)]="visibilidade" [modal]="false" position="bottom-right" [style]="{ width: '20vw', height:'25vw'}" [closable]="false">
    <p-header >
        Bate-papo
    </p-header>
    <p-scrollPanel [style]="{height: '15vw', overflow:'auto'}" #scroll>
        <p-card *ngFor="let m of mensagens$ | async" header={{m.estudante}}>
            
            {{m.texto}}
        </p-card>
    </p-scrollPanel>
    
    <p-footer [style]="{ height: '10px'}">
        <input pInputText id="textoChat" [(ngModel)]="mensagem.texto" (keydown.enter)="enviar()" [style]="{ width: '80%', margin:'0 5px'}">
            <button (click)="enviar()" icon="pi pi-check" pButton></button>
    </p-footer>
</p-dialog>
